---
layout: layouts/page.njk
title: "Genealogy Links"
eyebrow: "Historical Resources"
description: "While many of our members are involved in tracing their family history, other organizations in the region are better suited to assisting amaetur and professional genealogy researchers in locating records on their ancestors."
id: genealogy-links
kind: resource
section: resources
order: 20
tags: records
legacyUrl: http://www.mandanhistory.org/genealogylinks.html
sourceFile: archive/source/mandanhistory-org.wacz
capturedAt: 2026-05-29T23:19:04Z
card:
  title: "Genealogy Links"
  meta: ""
  image: /assets/images/miscellaneous/genealogy-links/106-mml-roots-brochure-cover-2009.jpg
  imageAlt: "Historic image from the Genealogy Links page"
---
<p>While many of our members are involved in tracing their family history, other organizations in the region are better suited to assisting amaetur and professional genealogy researchers in locating records on their ancestors. A list of resources is provided here to assist our webpage visitors.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/miscellaneous/genealogy-links/106-mml-roots-brochure-cover-2009.jpg" alt="Historic image from the Genealogy Links page">
  </figure>
</div>

<p>Tracing Your Family Tree? Brochure AvailableThe Morton Mandan Public Library staff has compiled an "Explore Your Roots @ The Library" brochure which lists books and magazines available at the library that might be helpful to anyone researching their family tree. Also included are websites, addresses and phone numbers of the local historical societies. Copies of the brochures can be picked up at the Morton Mandan Public Library or at the Mandan Historical Society Museum. The brochure is free.</p>

<p>Or download a .pdf version of the brochure from the hyperlink to the right. Geneology Brochure 2009</p>

<p><a href="/assets/documents/genealogy-links/mandan-library-resources-brochure-09.pdf">Geneology Brochure 2009</a></p>

<p>ND GenWeb ProjectThe paid genealogical service Ancestry.com sponsors a free genology internet portal Roots Web with links to a variety of of internet resources. The North Dakota specific website is known as the ND GenWeb Project and the Morton County specific webpage can be located at the hyperlink below.To access the webpage, click on http://www.rootsweb.ancestry.com/~ndmorton/</p>

<p><a href="http://www.rootsweb.ancestry.com/~ndmorton/">http://www.rootsweb.ancestry.com/~ndmorton/</a></p>

<p>North Dakota Death IndexSearch death records via the North Dakota Department of Vital Statistics' webpage. HINT: while a date of death is required to conduct a search, consider using sequential periods of time up to ten years long when the actual date of death is unknown. The site also explains how family members can obtain copies of a death certificate from the department.Click on this hyperlink https://secure.apps.state.nd.us/doh/certificates/deathCertSearch.htm</p>

<p><a href="https://secure.apps.state.nd.us/doh/certificates/deathCertSearch.htm">https://secure.apps.state.nd.us/doh/certificates/deathCertSearch.htm</a></p>

<p>Mandan Union Cemetery RecordsThe City of Mandan has posted its information on graves on its website. Note that the information is in the process of being updated, expecially for information prior to 1930. A map of the grave locations is also provided. Updated versions are available for download at www.cityofmandan.com under [City Departments] =&gt; [Mandan Union Cemetery]. Union Cemetery Records Union Cemetery Map</p>

<p><a href="/assets/documents/genealogy-links/union-cemetery-burial-file.xls">Union Cemetery Records</a></p>

<p><a href="/assets/documents/genealogy-links/union-cemetery-map.pdf">Union Cemetery Map</a></p>

<p>Bismarck-Mandan Historical and Geneological SocietyBMHGS promotes and encourages active interest in genealogy and history at the local, state, and international level including the retrieval and preservation of historical and genealogical records. It's members serve as resource, advocate, and coordinator for retrieval and preservation of historical and genealogical records.Click on the hyperlink to transfer to their webpage at http://www.bmhgs.com</p>

<p><a href="http://www.bmhgs.com/">http://www.bmhgs.com</a></p>
