<div class="image-pair">
  <figure>
    <img src="/assets/images/mcgillic-home-1882.jpg" alt="The earlier King home in 1882">
  </figure>
  <figure>
    <img src="/assets/images/mcgillic-home-current.jpg" alt="The McGillic Home">
  </figure>
</div>

<p>In 1883, a small home owned by Charles F. and Estella King was located on lots four, five, and six of 3rd Street NW. Dr. King was Morton County Superintendent of Schools from 1883 to 1885. Estella was the daughter of Isaac Cummins, a telegraph operator for Northern Pacific Railway and Western Union Telegraph Company.</p>

<p>They lived in the home with their children, Lucille, Otis and Lila; Charles’s mother, Liza Ann, and Marion Habberstad, their domestic helper.</p>

<p>James Henry McGillic and John O’Rourke came to Mandan from Malone, New York, and started a grocery and meat market known as O’Rourke and McGillic in 1879.</p>

<p>Three years later, a fire originating in the Northern Pacific restaurant destroyed their store, along with many more buildings. This fire destroyed more buildings in Mandan than any other fire in Mandan’s history to date.</p>

<figure>
  <img src="/assets/images/mcgillic-home-dining-room.jpg" alt="Dining room of the McGillic Home in April 2018">
  <figcaption>Dining Room - April 2018</figcaption>
</figure>

<p>James McGillic purchased the residential property in 1913 and sold the western third of the parcel. In 1916 he rebuilt the structure resulting in the home you see today on the east half of lots five and six. The home is 33 x 38 feet, constructed with 18-foot studs, and cost approximately $4,000 ($100,400 2021$) to build.</p>

<p>The home is built in the Craftsman style popular from 1905–1930. The dwelling is a two and one-half story structure with a large front gabled dormer and second-story balcony over the front porch, a full-width porch with square columns supporting the roof. There are four bedrooms and one full- and two half-baths.</p>

<p>The interior of the house had domestic quarters, and a maid’s staircase used by the domestic help to access the kitchen. Quarter-sawn oak is used extensively throughout the main floor for the woodwork, wainscot, and built-in china hutch.</p>

<p>In the attic woodwork, with its 8-foot high ceiling, the homebuilders’ signatures are visible.</p>
