<p>The Pan-American Exposition was held from May 1 to November 2, 1901. The fair featured the latest technologies, including electric lighting, and attracted nearly 8 million people. A midway provided rides and other entertainment, and various athletic events were held. Several states, as well as South and Central American countries, had their own buildings. Although the event was originally intended for Niagara Falls, it was held in Buffalo because of that city's significantly better rail connections. {% person "nikola-tesla" %}Nikola Tesla{% endperson %} had also recently installed a three-phase alternating-current power transmission system, allowing designers to light the exposition using power generated 25 miles away at Niagara Falls. The Electric Tower was illuminated nightly by thousands of colored bulbs and floodlights.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1901-pan-american-exposition/692-pan-am-exhibitn-1901-lights.jpg" alt="Historic image from the 1901 Pan-American Exposition &quot;Glimpses of ND&quot; page">
  </figure>
</div>

<p>The Pan-American Exposition Commission was created by the 1901 North Dakota Legislature "to provide for the collection, arrangement, and display of the Products and Resources of the State of North Dakota, at the Pan-American Exposition to be held at the City of Buffalo, New York in the Year 1901." Consisting of the governor, Commissioner of Agriculture and Labor, and the lieutenant governor, the Pan-American Exposition Commission was to prepare a "creditable exhibit" representing the state at the exposition. The commission was discontinued after the Exposition.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1901-pan-american-exposition/169-gnd-exterior-cover.jpg" alt="Historic image from the 1901 Pan-American Exposition &quot;Glimpses of ND&quot; page">
  </figure>
</div>

<p>The commission issued a 60-page booklet titled <em>Glimpses of North Dakota</em>. Prepared by {% person "david-bartlett" %}David Bartlett{% endperson %}, it was engraved and published by Buffalo-area printer Gries &amp; Co. Mandan and Morton County were featured prominently, while Bismarck and Burleigh County were entirely absent.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1901-pan-american-exposition/237-1901-mckinley-address.jpg" alt="President William McKinley addressing the Pan-American Exposition">
    <figcaption>President William McKinley’s last public address at the Pan-American Exposition</figcaption>
  </figure>
</div>

<p>The 1901 Pan-American Exposition is often remembered as the setting for the assassination of U.S. President {% person "william-mckinley" %}William McKinley{% endperson %}. The president addressed attendees on September 5 and returned to the exposition the following day. On September 6, {% person "leon-czolgosz" %}Leon Czolgosz{% endperson %} shot McKinley outside the Temple of Music. McKinley died eight days later, and {% person "theodore-roosevelt" %}Theodore Roosevelt{% endperson %} became president on September 14, 1901.</p>
