<p>The Pan-American Exposition was held from May 1 to November 2, 1901. The fair featured the latest technologies, including electricity, and attracted nearly 8 million people. A midway provided rides and other entertainment and various athletic events were held. Some states as well as South and Central American countries had their own buildings. While originally intended for Niagara Falls, the event was held in Buffalo due to its significantly better rail connections. Nicola Teslas had also recently installed a three-phase system of alternating current power transmission which allowed designers to light the Exposition using power generated 25 miles away at Niagara Falls. The Electric Tower was illuminated nightly by thousands of colored bulbs and floodlights.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1901-pan-american-exposition/692-pan-am-exhibitn-1901-lights.jpg" alt="Historic image from the 1901 Pan-American Exposition &quot;Glimpses of ND&quot; page">
  </figure>
</div>

<p>The Pan-American Exposition Commission was created by the 1901 ND Legislature "to provide for the Collection, Arrangement and Display of the Products and Resources of the State of North Dakota, at the Pan-American Exposition to be held at the City of Buffalo, New York in the Year 1901." Consisting of the Governor, Commissioner of Agriculture and Labor, and the Lieutenant Governor, the Pan-American Exposition Commission was to prepare a "creditable exhibit" representing the state at the exposition. The Commission was discontinued after the Exposition.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1901-pan-american-exposition/169-gnd-exterior-cover.jpg" alt="Historic image from the 1901 Pan-American Exposition &quot;Glimpses of ND&quot; page">
  </figure>
</div>

<p>The Commission issued a 60-page booklet "Glimpses of North Dakota," prepared by David Bartlett and engraved and published by Buffalo, NY area printer Gries &amp; Co. Mandan and Morton County were featured prominently vs. Bismarck or Burleigh County locations which were entirely absent.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1901-pan-american-exposition/237-1901-mckinley-address.jpg" alt="Historic image from the 1901 Pan-American Exposition &quot;Glimpses of ND&quot; page">
    <figcaption>McKinley's Last Public Address</figcaption>
  </figure>
</div>

<p>History typically remembers the 1901 Pan American Expo only as the setting for the assination of US President William McKinley. The President addressed the attendees on September 5. He returned to the Exposition the following day. On September 6, President William McKinley was assassinated by Leon Czlgosa outside the Temple of Music. He died eight days later. Theodore Roosevelt was inaugurated President on September 14, 1901.</p>
