<div class="image-gallery">
  <figure>
    <img src="/assets/images/gone-forever/cummins-building/125-ad-with-tubbs-dec-9-1890.jpg" alt="Historic image from the Cummins Building aka Collins Building page">
  </figure>
</div>

<p>In 1881, the "Tubbs &amp; Cummins Clothiers" opened across the street from Mandan's Post Office on the 100 block of Ashurst Avenue (current First Avenue NW) in a two story wood building on west Main Street. In 1886, Theodore A. Cummins bought out Tubbs and brought in C. A. Granberry as partner and focused on selling shoes. After Granberry’s death in 1890, store clerks Andrew E. Thorberg and J. H. Theis were brought into the firm. A new larger brick building was built at the site in 1900 and with the larger space, they expanded into clothing and general merchandise. Click to Enlarge</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/gone-forever/cummins-building/439-1895-theis-company-store-thorberg-cummins-shsnd.jpg" alt="Historic image from the Cummins Building aka Collins Building page">
  </figure>
</div>

<p>Cummins, Thorberg and Theis Storefront in 1900 The second story was added to the building four years in 1904. The top level was devoted exclusively to ladies dresses and a millinery department; the basement level carried a complete line of dishes and children’s toys. The main floor featured a large selection of yard goods, a men’s department and shoes for all ages in the family.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/gone-forever/cummins-building/371-1908-cummins-thorberg-theis-co-main-st.jpg" alt="Historic image from the Cummins Building aka Collins Building page">
  </figure>
</div>

<p>While Theis' involvement with the store would be short lived, Thornberg would remain a partner for 16 years before selling his shares to Cummins' sons Robert B. and William T. Cummins. William would take over as store manager in 1924 after the death of his father and eventually bought his brother's share. Operation of the Cummins Department store remained in the family until it closed in late 1959. 1908 Main St Downtown Mandan</p>

<p>James Collins and several other investors as the J.E. Collins Company leased the building begining in June 1962 and completely remodeled the space. The Collins Department Store would open in August 1962. Collins would eventually purchase the building, and continue to operate the business until July 1985 until Golden became the major stockholder and manager. However the store would close in January 1986. The dropoff in business was attributed to a combination of the Expressway Bridge opening, giving easy access to Kirkwood Plaza shopping mall in south Bismarck in 1985; and the ground-oil plume discovered downtown in 1982.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/gone-forever/cummins-building/370-mandan-place-fall-2010.jpg" alt="Historic image from the Cummins Building aka Collins Building page">
  </figure>
</div>

<p>Mandan Place Fall 2010 Site preparation and construction began in October 2009 on a new $3 million mixed-use building on that site and the adjacent 3 land parcels. Completed in 2010, it consists of four stories; the 6,700 square foot ground level will be devoted to commercial property, while the top three floors hosts 28 one and two-bedroom apartments.Dakota Commercial and Development Co./CRT Investments of Grand Forks re-developed the site. The city of Mandan sold the lot to the developers for $1 in 2008.</p>
