<div class="image-gallery"><figure>
  <img src="/assets/images/landmarks/l-n-cary-building/708-cary-block-plymouth-store.jpg" alt="Pioneer Block in 1916">
  <figcaption>Pioneer Block, 1916</figcaption>
</figure></div>

<div class="image-gallery"><figure>
  <img src="/assets/images/landmarks/l-n-cary-building/350-clark-mandan-drug-ad-1906.jpg" alt="1906 advertisement for Clark Drug in Mandan">
</figure></div>

<p>{% person "james-reed-clark" %}James Clark{% endperson %} came to Mandan in 1883 and opened a business at Fourth Avenue NW and Main Street. {% person "lyman-northrop-cary" %}Lyman Cary{% endperson %} completed his Main Street building one block east in 1885, and Clark moved his store into the larger space later that year. Cary later married Clark's daughter, {% person "anne-allison-clark-cary", "Anne Allison Cary" %}Anne Allison{% endperson %}.</p>

<p>Clark Drug operated there until Clark retired in 1906 and sold the business to {% person "olaf-lindelow" %}Olaf Lindelow{% endperson %}, who renamed it Mandan Drug. The Hanson family purchased the business from the Lindelow family in 1964.</p>

<div class="image-gallery"><figure>
  <img src="/assets/images/landmarks/l-n-cary-building/267-mandan-memorie-print-by-bob-rickards.jpg" alt="Mandan Memorie print commissioned by Rusty and Deb Kruger">
  <figcaption><em>Mandan Memorie</em> print commissioned by Rusty and Deb Kruger</figcaption>
</figure></div>

<p>{% person "russel-rusty-kruger", "Russel “Rusty” Kruger" %}Russel "Rusty" Kruger{% endperson %} and {% person "debbie-kruger" %}Debbie Kruger{% endperson %} purchased the building in 1982 and operated two businesses there. Rusty, a pharmacist, supplied prescription and over-the-counter medications for approximately 25 years. Debbie founded Lindy Sue's Candies from her love of chocolate. They also maintained a traditional soda fountain and lunch counter. The operation was featured in several national publications.</p>

<p>The Krugers sold the building in December 2006 to a local partnership formed by {% person "lance-mindt" %}Lance{% endperson %} and {% person "nikki-mindt" %}Nikki Mindt{% endperson %} and {% person "bob-gustafson" %}Bob{% endperson %} and {% person "lynn-gustafson" %}Lynn Gustafson{% endperson %}. The pharmacy was sold separately, while Lindy Sue's Candies and Soda Fountain remained in the building.</p>

<div class="image-gallery">
  <figure><img src="/assets/images/landmarks/l-n-cary-building/334-bell-main-st-1920s.jpg" alt="Cary Block around the 1920s"><figcaption>Cary Block, c. 1920s</figcaption></figure>
  <figure><img src="/assets/images/landmarks/l-n-cary-building/326-1900-cary-block.jpg" alt="Cary Block around 1900"><figcaption>Cary Block, c. 1900</figcaption></figure>
</div>
