<div class="image-gallery">
  <figure>
    <img src="/assets/images/landmarks/l-n-cary-building/708-cary-block-plymouth-store.jpg" alt="Historic image from the Pioneer Block page">
    <figcaption>Pioneer Block 1916</figcaption>
  </figure>
</div>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/landmarks/l-n-cary-building/350-clark-mandan-drug-ad-1906.jpg" alt="Historic image from the Pioneer Block page">
  </figure>
</div>

<p>James Clark came to Mandan in 1883 and established his business initially at the corner of Fourth Ave NW and Main Street. However in 1885, Lyman Cary finished his Main Street building one block east. Clark moved his store to the new larger space in the building later that year. Lyman Cary would later marry his daughter Anne Allison.Clark Drug operated at the site until 1906 when James Clark retired and sold the business to Olaf Lindelow. Lindelow renamed the business "Mandan Drug." The business was purchased by the Hansons in 1964 from the Olaf Lindelow family.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/landmarks/l-n-cary-building/267-mandan-memorie-print-by-bob-rickards.jpg" alt="Historic image from the Pioneer Block page">
    <figcaption>Mandan Memorie Print Commissioned by Rusty &amp; Deb Kruger</figcaption>
  </figure>
</div>

<p>The building was purchased in 1982 by Russel and Debbie Kruger and was home to two business operations. "Rusty" is a pharmacist by training and supplied prescription and over-the-counter medications to community residents for approximately 25 years. Debbie founded Lindy Sue's Candies, building on her personal love for chocolate. They also continued to operate a real soda fountain and lunch counter at the site. The operation was featured multiple national publications.</p>

<p>The Kruger's sold the building in December 2006 to a local partnership formed by Lance &amp; Nikki Mindt and Bob &amp; Lynn Gustafson. While the pharmacy operation was sold to other local concerns, the building remains home of Lindy Sue's Candies &amp; Soda Fountain. Additional information can be found at their www.lindysues.com website.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/landmarks/l-n-cary-building/334-bell-main-st-1920s.jpg" alt="Historic image from the Pioneer Block page">
    <figcaption>Cary Block c. 1920s</figcaption>
  </figure>
  <figure>
    <img src="/assets/images/landmarks/l-n-cary-building/326-1900-cary-block.jpg" alt="Historic image from the Pioneer Block page">
    <figcaption>Cary Block c. 1900</figcaption>
  </figure>
</div>
