<h3>2020</h3>

<h3>2023</h3>

<p>In September, local processor Prairie Farms Dairy Inc. announced that it would close its milk-processing operation in Bismarck. The facility would be used only for warehousing and distribution. The additional cost of shipping milk to the Fargo area for sale forced most dairy farms in the region to close.</p>
