<h3>2020</h3>

<h3>2023</h3>

<p>In September, local processor Prairie Farms Dairy, Inc. announced the closing of its milk processing operation in Bismarck. The facility would revert to warehouse / distribution only. The additional shipping costs associated with transportation to the Fargo area for sale forced the elimination of most dairy farms in the area.</p>
