<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/trail-west-outdoor-custer-drama/199-trail-west-program-cover-1961-kms.jpg" alt="Historic image from the The Trail West Outdoor Custer Drama 1959-1968 page">
  </figure>
</div>

<p>A dramatic telling of the story of Custer, the 7th Cavalry, life at Ft. Abraham Lincoln during the post Civil War years, and the Battle of the Little Bighorn staged outdoors each summer at the Custer Memorial Amphitheater starting in 1959 through 1968.The original production called "Trail West" was written by W. T. Chichester and Frederick G. Walsh. Walsh was instrumental in starting operations at the Burning Hills Amphitheater in Medora, ND with his drama "Old Four Eyes" highlighting the life of Theodore Roosevelt. This production was the predecessor to the "Medora Musical" which continues in production today. Walsh was approached in 1958 by Mandan's Chamber of Commerce to write a play for use at Ft. Lincoln.The drama boasted the distinction of being located on the exact trail used by General Custer and the men as they left the Fort on May 17, 1876.</p>

<p>In 1961, Bert Pettey completed a major rewrite of the original script. Starting in with the summer of 1962, the play was referred to as "The Custer Drama." The first year, the production was directed by co-author William Chichester. From 1960 through 1962, George Poletes directed. Other directors included JoAnn (Feldhusen) Zoller from 1963 to 1965 and Winston Miller from 1966-1968. In 1961, the "Centennial Players" supplemented offerings by staging a production of "Dracula" at the midnight hour after regular performances of the Custer Drama. Persons showing a medical card with AB negative blood-type were admitted free.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/trail-west-outdoor-custer-drama/708-amphitheater-color-300-dpi.jpg" alt="Historic image from the The Trail West Outdoor Custer Drama 1959-1968 page">
    <figcaption>Postcard Image of Custer Memorial Amphitheater c. 1964</figcaption>
  </figure>
</div>

<p>Tryouts were held each spring at the <a href="/places/landmarks/mandan-memorial-building/">World War Memorial Building</a> (current City Hall) to fill the roles for 80 cast members. The 2000-seat amphitheater equipped with a 110-foot stage hosted the event from July 1 through Labor Day with performances on Wednesday through Sunday each week. Professional actors from cities such as Duluth and Chicago were recruited for the half dozen lead roles. The budget for the production in 1959 was {% inflation 75000, 1959 %} which was raised by local merchants, citizens, fraternal and civic organizations.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/trail-west-outdoor-custer-drama/207-shsnd-00053-12-custer-and-men-c.jpg" alt="Historic image from the The Trail West Outdoor Custer Drama 1959-1968 page">
    <figcaption>Actors protraying 7th Cavalry staff SHSND 00053-12</figcaption>
  </figure>
  <figure>
    <img src="/assets/images/area-history/trail-west-outdoor-custer-drama/214-shsnd-00053-13-indian-camp-c.jpg" alt="Historic image from the The Trail West Outdoor Custer Drama 1959-1968 page">
    <figcaption>Staged Indian Camp of The Custer Drama SHSND 00053-13</figcaption>
  </figure>
  <figure>
    <img src="/assets/images/area-history/trail-west-outdoor-custer-drama/207-shsnd-00053-10-libby-and-george-c.jpg" alt="Historic image from the The Trail West Outdoor Custer Drama 1959-1968 page">
    <figcaption>Actors protraying Libbie and George Custer SHSND 00053-10</figcaption>
  </figure>
</div>

<h3>Mandan Historical Development Association</h3>

<p>The Mandan Historical Development Association was organized on September 23, 1958 for the express purpose of promoting and developing the historical advantages of the area in and around Mandan. Its primary task was the production of the outdoor drama. The first board of directors was selected by the Chamber of Commerce. New members were elected at subsequent annual meetings of the membership.The organization continued until 1962 when the responsibility for the drama's operation was turned over to the Mandan Development Corporation (MDC). Documented are the corporation's efforts to promote the economic development of Mandan and to aid and assist businesses by way of financial assistance. Continued promotion of the play was an attempt to bolster tourism to the area. The MDC and the Chamber discountinued the play after the 1968 season after attendance fell and adquate public support was not apparent to undertake a major renovation at the fort's amphitheater facility.</p>
