<p>In the days before on-demand home delivered movie, residents had to leave the comfort of their couch and witness entertainment live. In today's society, such activities are deemed for the social elite. However in the heyday of the early 20th Century, specifically the 1910s-1920s, everyone went to "the theatre" intitally for live entertainment like vaudville acts, and eventually to a more passive views of "moving pictures."</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/gone-forever/topic-theatre/192-topictheatread.jpg" alt="Historic image from the Topic Theatre / Family Theater page">
    <figcaption>1914 Program Announcement</figcaption>
  </figure>
</div>

<p>In 1909, the Topic Theater, located one block west of the InterOcean Hotel (site of today's Lewis and Clark Hotel Apartments), installed an electric sign to help promote their nightly variety shows. The venue included "moving pictures" accompanied by music provided by the local Imperial Orchestra. Other varient actis included Fredric, the Great Magician, Miss LaMable, the Great Serpertine Dancer, and Jack Symonds, the Tramp Monologist. One screen. Later named the Family Theater.</p>

<p>Located 504 W Main, the Topic Theatre (later renamed the Family Theater) originally opened as a live entertainment venue. With the advent of talkie moving pictures, a screen was added by Harry L. Hartman in 1915 after buying the building in late 1914. Frank Gilbreath had taken over management of the facility from Edwin H Wuerst &amp; Paul R Foster in early 1914.</p>
