<p>The early breakup of the Missouri and Heart rivers in March brought the highest water level for flooding in the city since 1881, suspending mail and rail connections with the east.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1910-spring-flood/266-1910-flood-at-mandan-homboe-rppc-mhsoc-jpg.jpg" alt="Historic image from the March 1910 Spring Flood page">
  </figure>
</div>

<p>Water rose 2 feet above the dikes and flooded the south side of the city, including the Syndicate section. The fairgrounds grandstand snapped in two, and the judges’ stand floated into the woods. Large chunks of floating ice snapped electric-light, telegraph, and telephone poles. Electricity was partially restored by connecting to power from the Northern Pacific roundhouse.</p>



<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1910-spring-flood/288-flood-onlookers-from-bank-kms.jpg" alt="Historic image from the March 1910 Spring Flood page">
  </figure>
</div>

<p>A large crowd lined the dikes to watch a 900-man crew clear ice jams from the Northern Pacific tracks. In some areas between downtown and the river bridge, ice accumulated to heights of 6 to 10 feet. Many ice floes were 30 feet long. Workers often used dynamite to dislodge and break apart the masses of ice.</p>
