<p>The early breakup of the Missouri and Heart Rivers in March brought the highest watermark for flooding in the city since 1881, suspending mail and rail connections with the east.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1910-spring-flood/266-1910-flood-at-mandan-homboe-rppc-mhsoc-jpg.jpg" alt="Historic image from the March 1910 Spring Flood page">
  </figure>
</div>

<p>Water overflowed 2 feet above the dykes and flooded the south side of the city, inluding the Syndicate section. The grandstand at the fairgrounds was snapped in two, and the judges stand floated off into the woods.Large floating chunks of ice snapped electric light and telegraph and telephone poles. Electricity was partially restored by tying into the electrical power from the NP roundhouse. Click to Open</p>

<p>Image:</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1910-spring-flood/288-flood-onlookers-from-bank-kms.jpg" alt="Historic image from the March 1910 Spring Flood page">
  </figure>
</div>

<p>Click to Open A large crowd of people lined the dykes to watch a work crew of 900 men clear the ice jams off the NP tracks. In some areas between downtown and the river bridge, ice piled to heights from six to 10 feet high.Many of the ice cakes were 30 feet long. Dynamite was often used to dislodge and crumble the masses of ice.</p>
