<p>In 1885, the Morton County Commissioners decided the existing, small log courthouse (and former saloon, former keno hall, former church, former schoolhouse) should be replaced.</p>

<figure class="article-figure-wide">
  <img src="/assets/images/gone-forever/morton-county-courthouse-1913.jpg" alt="Morton County Courthouse around 1913">
  <figcaption>Morton County Courthouse c. 1913</figcaption>
</figure>

<p>Championed by then president of the board of county commissioners Elijah Boley, the hillside location by proclaiming, " In ten years Mandan will be as large as Chicago and the hill north of the city will be the center of population." On June 2, 1885 the county decided to purchase block 75, First Northern Pacific Addition from the city of Mandan for $2300. The land in this area was then platted for lots, extended to the Missouri River, and Joseph Ardon, who farmed 12 miles northwest of the city sold his land for the unheard of price of $100 per acre. The summit of the hill was leveled off and the site over 12 acres in size was prepared.</p>

<figure class="article-figure-wide">
  <img src="/assets/images/gone-forever/morton-county-courthouse-1936.jpg" alt="Color view of the old Morton County Courthouse around 1936">
</figure>

<div class="article-split">
  <figure>
    <img src="/assets/images/gone-forever/morton-county-courthouse-1934.jpg" alt="Morton County Courthouse with its northside addition around 1934">
    <figcaption>c. 1934 Couthouse with northside addition</figcaption>
  </figure>
  <div>
    <p>County Commission President George Peoples secured a $8000 bond for a new road which angled around the hill to the new site.</p>

    <p>The hill was terraced and innumerable steps put in the south side. The new courthouse overlooked the city as a monument to the dreams and visions of the pioneers in the boom days when "westward ho!" was still a good slogan. The records from the little log shack court house, between Main and 1st Avenue NE were moved into the new structure in January 1886.</p>
  </div>
</div>

<p>The Richardson Romanesque-style two-story brick building was constructed at a cost of $35,000 (approximately $1.1 million in 2021 dollars) and served as the Morton County Courthouse for over 56 years. One addition was made to the rear of the building. The complex also included a "sheriff's quarters" and jailhouse on the west side of the building. Jailer Wm. Mackin was its first tenant.</p>

<p>By 1916, the error was apparent of its lonely location, so a major effort to beautify the grounds was undertaken. The south face of the hill will be reworked into 5 terraces. A broad concrete stairway was installed from Collins Avenue to the courthouse walk and a drive from the street from the foot of the hill was also installed.</p>

<div class="article-split">
  <div>
    <p>On May 15, 1941, the building was completely destroyed by fire. The blaze began at 5:00 PM as residents noticed smoke rolling from the upper windows and roof. At the time, the county commissioners were in session and were unaware of the fire.</p>

    <p>Even with the rapid response by the fire department, it was soon apparent the building could not be saved. Efforts focused on protecting the adjacent jailhouse and sheriff's residence.</p>

    <p>The building was insured for $60,000 ($1,320,000 2025$).</p>
  </div>
  <figure>
    <a href="/assets/images/gone-forever/morton-county-courthouse-fire-1941.jpg"><img src="/assets/images/gone-forever/morton-county-courthouse-fire-1941.jpg" alt="Fire at the Morton County Courthouse on May 15, 1941"></a>
  </figure>
</div>

<p>The replacement building (today's Morton County Courthouse) had to wait until the conclusion of World War II. In the interim, all salvageable records were transferred to the Mandan Memorial Building (i.e., today's Mandan City Hall.) County business was conducted there for 14 years until early 1956 when the current $590,000 ($7,000,000 2025$) Memorial Courthouse was completed.</p>
