<p>While the 1890s have been tabbed as "The Gay 90s," "The Gilded Age" or even the "Mauve Decade" (due to the popularity of the color lavender in women's fashions of the day), the decade's perceived carefree and optimistic spirit was not prevalent in the new state of North Dakota. Hard work, harsh weather, and poor commodity prices were far more common—although wealth was apparent in some parts of the city.</p>

<h3>1890</h3>

<p>In January, simultaneous "spinsters'" and "bachelors'" parties were held in the city. The 13 spinsters gathered at the home of {% person "henry-voss" %}Henry Voss{% endperson %} at 405 Fifth Avenue NW for a party hosted by his sister, {% person "helen-voss" %}Helen{% endperson %}. Guests wore antique maiden attire, including aprons and caps. After conversation over tea, sandwiches, and cakes, the women played the card game "Old Maid." The bachelors gathered at the second-floor apartments of Messrs. Peterson and Reeder in the Pioneer Block, at 316–320 West Main Street. At the typical "stag" party, guests played cards, smoked cigars, and told stories. After refreshments, they rendezvoused with the spinsters and escorted them home.</p>

<h3>1891</h3>

<p>On June 9, {% person "major-powell" %}Major Powell{% endperson %} received telegraphed notice from the US Department of the Army that Fort Abraham Lincoln was to be abandoned. A letter the following week outlined the disposition of the troops and materials currently stationed at the fort. (NOTE: Troops were eventually reassigned in 1892 but government operations continued at the site until the fort's post office was officially closed in 1894. The land parcels beyond the actual fort but part of the military reservation were offered for sale in January 1896. The lands within the fort's boundaries were given to the State of North Dakota for use as a park in 1913.)</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1890s/259-missouri-valley-mill.jpg" alt="Historic image from the Statehood &amp; the Collapse of Farm Prices 1890-1899 page">
  </figure>
</div>

<p>The Mandan Roller Mill underwent major expansions during the year. In August, a new wood barrel-making operation began to supply the wooden barrels for packaging the flour. Construction began on a warehouse addition to hold over 2,000 barrels as well as a 50,000 bushel grain elevator to the north of the mill. Later that same year, the mill was sold to the ND Millers' Association, a group of North Dakota-based banks and individuals.</p>

<h3>1892</h3>

<p>The year started with the traditional well-attended bachelor's New Year's reception party. The venue was nicely arranged and decorated and illuminated with pink-shaded lamps. Dainty refreshments were gallantly served to the women. At the end of the evening, each lady received a souvenir card together with a bouquet of cut flowers specially imported from Fargo. Monday, January 25, saw the opening of the State Bank of Morton County. The officers of the bank were {% person "william-a-lanterman" %}W. A. Lanterman{% endperson %}, president; {% person "h-r-porter" %}H. R. Porter{% endperson %}, vice president; and {% person "c-a-kinney" %}C. A. Kinney{% endperson %}, cashier.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1890s/416-bank-morton-county-derated.jpg" alt="State Bank of Morton County building around 1906">
    <figcaption>State Bank of Morton County, c. 1906</figcaption>
  </figure>
</div>

<p>The building is 22 by 30 feet. The walls and ceilings of the banking room are richly frescoed in oil with rich floral borders and dados, "representing the iridescent hues of the rainbow." The fixtures and desks were constructed of solid carved cherry wood, and the floor inlaid with a parquet design. The front is of French plate glass, one large pane 10 by 12 feet placed in an oblong position surmounted with an assortment of smaller white and colored panes.</p>

<p>{% person "a-r-mcdonald" %}Mrs. A. R. McDonald{% endperson %} made the first deposit subject to check. The first savings deposit consisted of 500 pennies belonging to three-year-old {% person "larue-shaw" %}LaRue Shaw{% endperson %}, son of {% person "benjamin-whitworth-b-w-shaw" %}Attorney Shaw{% endperson %}. Work continued on Mandan's "$10,000 Dry Hole" until a broken pump or pipe fell into it. Work was suspended while the contractor located equipment to remove the obstruction.</p>

<h3>1893</h3>

<h3>1894</h3>

<p>Hard financial times followed the Panic of 1893. Wheat and farm commodity prices fell in late spring, and tax revenues and area incomes fell. The excessive spending approved by the Legislature nearly bankrupted the State.</p>

<h3>1897</h3>

<p>A young cowboy known as {% person "frank-james" %}Lee Allen{% endperson %} had drifted into Mandan and began working at the Mackin Ranch south of Mandan. Allen locked the nineteen-year-old rancher’s son in the cellar and then robbed the house, escaping with a stolen horse and saddle. After learning that Allen had subsequently found work in Montana, Morton County Sheriff {% person "charles-mcdonald" %}Charles McDonald{% endperson %} traveled the two hundred miles, surprised Allen as he slept on his gun and returned him to Mandan to stand trial. Allen’s real name was Frank James, a cousin of the notorious James brothers. He had escaped from the South Dakota state prison prior to coming to Mandan.</p>

<h3>1899</h3>
