<p>While the 1890s have been tabbed as "The Gay 90s," "The Gilded Age" or even the "Mauve Decade" (due to the popularity of the color lavender in women's fashions of the day), the decade's perceived carefree and optimistic spirit was not prevalent in the new state of North Dakota. Hard work, harsh weather and poor commodity prices were far more common - although wealth was apparent in some parts of the city.</p>

<p>1890</p>

<p>In January, simultanous "spinsters" and "bachelors'' parties held in the city. The 13 spinsters gathered at the home of Henry Voss at 405 5th Ave NW hosted by his sister Helen. Guest came dressed in full antique maiden attire including aprons and caps. After conversation over tea and dainty sandwiches and cakes, the ladies amused themselves over the card game "Old Maid." The bachelors congregated at the 2nd floor apartments of Messrs Peterson and Reeder in the Pioneer Block i.e., 316 to 320 west Main St). Designed as a typical 'stag' party, the guests played cards and smoked cigars to their hearts' content. And, of course, time was devoted to storytelling. After partaking heavily of refreshments, they adjourned and rendezvous with the spinsters to escort them home.</p>

<p>1891</p>

<p>On June 9, Major Powell received telegraphed notice from the US Department of the Army that Fort Abraham Lincoln was to be abandoned. A letter the following week outlined the disposition of the troops and materials currently stationed at the fort. (NOTE: Troops were eventually reassigned in 1892 but government operations continued at the site until the fort's post office was officially closed in 1894. The land parcels beyond the actual fort but part of the military reservation were offered for sale in January 1896. The lands within the fort's boundaries were given to the State of North Dakota for use as a park in 1913.)</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1890s/259-missouri-valley-mill.jpg" alt="Historic image from the Statehood &amp; the Collapse of Farm Prices 1890-1899 page">
  </figure>
</div>

<p>Click to Open The Mandan Roller Mill underwent major expansions during the year. In August, a new wood barrel-making operation began to supply the wood barrels to package the flour. Construction began on a warehouse addition to hold over 2000 barrels as well as a 50 thousand bushel grain elevator to the north of the mill. And later that same year, the mill was sold to the ND Millers' Association, a group of North Dakota-based banks and individuals.</p>

<p>1892</p>

<p>The year started with the traditional well attended bachelor's New Year's reception party. The venue was nicely arranged and decorated and illuminated with pink shade lamps. Dainty refreshments were gallantly served to the women. At the end of the evening, each lady received a souvenir card together with a bouquet of cut flowers specially imported from Fargo. Monday January 25 saw the opening of the State Bank of Morton County. The officers of the bank were W.A. Lanterman, President; H.R. Porter, Vice-President; and C.A. Kinney, Cashier.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1890s/416-bank-morton-county-derated.jpg" alt="Historic image from the Statehood &amp; the Collapse of Farm Prices 1890-1899 page">
  </figure>
</div>

<p>State Bank of Morton County c1906 The building is 22'x 30'. The walls and ceilings of the banking room are richly frescoed in oil with rich floral borders and dados, "representing the iridescent hues of the rainbow." The fixtures and desks were constructed of solid carved cherry wood, and the floor inlayed of a wood parquette design. The front is of French plate glass, one large pane 10'x12' placed in an oblong position surmounted with an assortment of smaller white and colored panes.</p>

<p>The first deposit subject to check was from Mrs. A.R. McDonald. The first savings deposit was the 500 pennies of three-year-old LaRue Shaw, son of Attorney Shaw. Work continued on Mandan's "$10,000 Dry Hole." A broken pump or pipe fell into the hole. Work is suspended until the contractor can locate equipment to remove the obstruction.</p>

<p>1893</p>

<p>1894</p>

<p>Hard financial times followed the Market Panic of 1893. Wheat and farm commodity prices fell in late Spring, and tax revenues and area incomes fell. The excessive spending approved by the Legislature almost bankrupted the State.</p>

<p>1897</p>

<p>A young cowboy known as Lee Allen had drifted into Mandan and began working at the Mackin Ranch south of Mandan. Allen locked the nineteen-year-old rancher’s son in the cellar and then robbed the house, escaping with a stolen horse and saddle. After learning that Allen had subsequently found work in Montana, Morton County Sheriff Charles McDonald traveled the two hundred miles, surprised Allen as he slept on his gun and returned him to Mandan to stand trial. Allen’s real name was Frank James, a cousin of the notorious James brothers. He had escaped from the South Dakota state prison prior to coming to Mandan.</p>

<p>1899</p>
