<div class="image-pair">
  <figure>
    <img src="/assets/images/freeburg-esser-home-historic.jpg" alt="Historic view of the Freeburg-Esser Home">
  </figure>
  <figure>
    <img src="/assets/images/freeburg-esser-home-current.jpg" alt="Current view of the Freeburg-Esser Home">
  </figure>
</div>

<figure>
  <img src="/assets/images/freeburg-advertisement.jpg" alt="Historic {% person "n-a-freeburg" %}N.A. Freeburg{% endperson %} advertisement">
</figure>

<p>The home was built in 1907 by N.A. Freeburg, a general contractor of Swedish descent, who built it for his bride, {% person "esther-freeburg" %}Esther{% endperson %}, intending is to be their permanent home. Freeburg and his partner {% person "charles-kidd" %}Charles Kidd{% endperson %} built several of the prominent structures in the community, including the {% place "lyon-weigel-home" %}H.R. Lyon home at 309 4th Avenue NW{% endplace %}, and the {% place "first-national-bank-building" %}First National Bank Building{% endplace %}.</p>

<p>In 1910, The Freeburgs sold the home to {% person "gustav-a-renden" %}Gustav A. Renden{% endperson %}, a co-owner of the {% place "mandan-flour-mill" %}Mandan Roller Mill{% endplace %} and one of the founders of the {% place "mandan-electric-company" %}Mandan Electric Company{% endplace %}.</p>

<p>In 1940 the home was sold to {% person "h-a-jones" %}H.A. Jones{% endperson %}; in 1942 to {% person "oren-baertsch" %}Oren Baertsch{% endperson %}, a bank examiner; and in 1949 to {% person "bill-joersz" %}Bill Joersz{% endperson %}, then owner of the {% place "piggly-wiggly" %}Piggly Wiggly{% endplace %} grocery store.</p>

<p>In 1959, {% person "maurice-lagrave" %}Maurice LaGrave{% endperson %}, an attorney, purchased the home, followed, in 1967, by {% person "gene-helm" %}Gene{% endperson %} and {% person "nola-helm" %}Nola Helm{% endperson %}, owners of {% place "helm-brothers-sand-and-gravel" %}Helm Brothers Sand and Gravel{% endplace %}. The Helm family, intending to make it their permanent home, gave the home a major restoration. A room was added to the rear of the house, as well as a utility room and a garage. However, the original stairs, sliding doors, woodwork, pillars, full-wall bookshelves and windows were left intact, as well as the uniquely finished rock foundation. The carriage house, formerly at the rear of the property, is now a separate residence next door.</p>

<p>In 1990, the home was purchased by {% person "chuck-esser" %}Chuck{% endperson %} and {% person "janet-esser" %}Janet Esser{% endperson %} of Camas, Washington. Janet’s ancestors, both maternal and paternal, had been immigrants to the Sims area a century before.</p>

<p>The home has a warmth and lightness that wraps itself around all those who enter and the front porch has always been a favorite gathering spot for friends and family.</p>
