---
layout: layouts/page.njk
title: "Museum & Office"
eyebrow: "Visit"
description: "The museum is open and staffed each Saturday and Sunday June through August from 1:00 PM to 4:00 PM which corresponds to those of the Railroad Museum."
id: museum-and-office
kind: society-page
section: support
order: 30
tags: records
legacyUrl: http://www.mandanhistory.org/eventsactivities/museumoffice.html
sourceFile: archive/source/mandanhistory-org.wacz
capturedAt: 2026-05-29T20:02:36Z
card:
  title: "Museum & Office"
  meta: ""
  image: /assets/images/miscellaneous/museum-and-office/454-img-8834.jpg
  imageAlt: "Historic image from the Museum & Office page"
---
<p>Open Saturdays &amp; Sundays 1:00-4:00 PM June thru August</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/454-img-8834.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
</div>

<p>The museum is open and staffed each Saturday and Sunday June through August from 1:00 PM to 4:00 PM which corresponds to those of the Railroad Museum. We can also be open by upon request for special events. Among the displays is a signed letter from Theodore Roosevelt to past Mandan city mayor Dr. Henry Coe; and the original hotel registery from the Merchant Hotel in the 1880s including Grover Cleveland's signature.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/207-img-6391.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/208-img-6287.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/207-img-6386.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
</div>

<p>Click to Enlarge Click to Enlarge Click to Enlarge</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/207-img-6239-ne-corner-diplays.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/207-img-6192.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/207-img-6382.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
</div>

<p>Click to Enlarge Click to Enlarge Click to Enlarge</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/207-img-6280.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/208-img-6231-dahners-and-band.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/207-img-6254-office-area-coe-display.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
</div>

<p>Click to Enlarge Click to Enlarge Click to Enlarge</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/200-jim-and-pat-tostevin-cropped.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
</div>

<p>Patricia and James Tostevin James &amp; Patricia Tostevin, longtime residents of Mandan and descendants of prior owners of the Mandan Pioneer newspaper, made a generous cash contribution the Society in 2019. The gift sparked the successful campaign to build out a 560 sq ft space on the grounds of the ND State Railroad Museum in northwest Mandan for use as a local historical museum. Members of the Society volunteered hundreds of hours to supplement the labor required to finish and open the building and corresponding displays for its first season starting Memorial Day 2020.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/480-dsc-0020.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/480-img-4049.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/480-img-4053.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/480-img-4156.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/480-img-4716.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/480-img-4723.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/480-img-4944.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/480-floorpaintbob-redacted.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/480-img-5697.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/480-img-4943.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/480-img-5915.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/480-img-5891.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/480-img-5699.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/480-img-5904.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/museum-and-office/480-img-5888.jpg" alt="Historic image from the Museum &amp; Office page">
  </figure>
</div>

<p>Image:</p>

<p>The Mandan Historical Society shutdown the downtown museum space in the NP Beanery in August 2011 after its lease was cancelled by the Mandan Progress Organization.Materials were moved; split between private storage. A small display area was offered in their by members of the ND Railroad Museum in north Mandan after the Steele depot was moved to their facility in October 2011. New displays were constructed and materials moved to the current NDSRR museum "freight house" building after it was completed in 2018. Our displays have already outgrown the 560 sq ft of our current space. We repeatedly turn down additions to our collection due to limited space. Based on our recent experience with our museum operation, our strategic plan envisions the next location with a building with at least 1200 sq ft of floor space. The Board of Directors hopes to establish an exploratory committee soo to indentify potential funds and explore our next opportunity.</p>

<p>Exhibits require a commitment of both money and volunteer time. Please help us with a contribution of either your time or financial support. Contact us info@mandanhistory.org</p>

<p><a href="mailto:info@mandanhistory.org">info@mandanhistory.org</a></p>
