<div class="image-gallery">
  <figure>
    <img src="/assets/images/landmarks/methodist-church/334-1935-methodist-episcopalian-church-lutz-kms.jpg" alt="Methodist Episcopal Church in Mandan around 1935">
    <figcaption>Methodist Episcopal Church, c. 1935</figcaption>
  </figure>
  <figure>
    <img src="/assets/images/landmarks/methodist-church/325-under-construction-2.gif" alt="Mandan's Methodist church under construction">
  </figure>
</div>
