<div class="image-gallery">
  <figure>
    <img src="/assets/images/landmarks/methodist-church/334-1935-methodist-episcopalian-church-lutz-kms.jpg" alt="Historic image from the Methodist Church page">
    <figcaption>c. 1935 Methodist Episcopalian Church</figcaption>
  </figure>
  <figure>
    <img src="/assets/images/landmarks/methodist-church/325-under-construction-2.gif" alt="Historic image from the Methodist Church page">
  </figure>
</div>
