<div class="image-gallery">
  <figure>
    <img src="/assets/images/landmarks/rough-rider-statue/307-tr-cropped-old.jpg" alt="Theodore Roosevelt Roughrider statue in 1930">
    <figcaption>Statue in 1930</figcaption>
  </figure>
  <figure>
    <img src="/assets/images/landmarks/rough-rider-statue/307-tr-cropped-new.jpg" alt="Theodore Roosevelt Roughrider statue in 2006">
    <figcaption>Statue in 2006</figcaption>
  </figure>
</div>

<p><em>Theodore Roosevelt Roughrider</em> portrays North Dakota's most famous adopted son as colonel of the regiment he commanded during the Spanish-American War. Sculptor {% person "alexander-phimister-proctor" %}Alexander Phimister Proctor{% endperson %} was born in Canada and raised in Colorado. A contemporary of {% person "frederic-remington" %}Frederic Remington{% endperson %} and {% person "charles-m-russell" %}Charles Russell{% endperson %}, Proctor dedicated his life to monumental sculpture. His other equestrian works include statues of General {% person "william-t-sherman" %}William T. Sherman{% endperson %} in New York's {% place "central-park-new-york" %}Central Park{% endplace %} and General {% person "robert-e-lee" %}Robert E. Lee{% endperson %} in Dallas, as well as Denver's <em>Bronco Buster</em>.</p>

<p>Proctor's original Roosevelt statue was erected in Portland, Oregon, and became the subject of the {% place "metropolitan-museum-of-art" %}Metropolitan Museum of Art{% endplace %}'s first educational film about a sculptor's work. Proctor met {% person "theodore-roosevelt" %}Theodore Roosevelt{% endperson %} at the 1893 World's Fair, and Roosevelt later commissioned him to create several sculptures for the {% place "white-house" %}White House{% endplace %}.</p>

<p>According to the Inventory of American Sculpture, Mandan's sculpture is a smaller version of the one commissioned by {% person "henry-waldo-coe" %}Dr. Henry Waldo Coe{% endperson %} for Portland. Proctor remarked about his intention: "I wanted to give the world... the impression of Roosevelt as I knew him --- as, indeed, I always think of him. I most admired his fearlessness, his courage, and the energy always waiting to spring into action. I never thought of him as a man of hasty, ill-considered action. All his exuberance, all his restlessness, was only the surface that covered a quiet dignity and reserve. The popular idea of him is that he never was in repose. I wanted to show him as he appeared to me, with all his magnificent energy held in check."</p>

<p>Coe met Roosevelt while living in Dakota Territory, and they formed a lasting friendship. Coe represented Mandan residents in the last territorial legislature in 1885 and served as the city's eighth mayor in 1888. He and his wife moved to Portland in 1891. After commissioning the original statue for Portland, he gave the smaller version to Mandan.</p>

<p>The Roosevelt family approved the design. {% person "edith-roosevelt" %}Edith Roosevelt{% endperson %} and {% person "kermit-roosevelt" %}Kermit Roosevelt{% endperson %} found the uniform Roosevelt wore at {% place "san-juan-hill-cuba" %}San Juan Hill{% endplace %} in family trunks and provided it to Proctor as a reference in casting the statue. Roosevelt's widow, all five surviving children, and their spouses attended the dedication.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/landmarks/rough-rider-statue/334-hedrickson-main-st.jpg" alt="Parade during the July 2, 1924, Roughrider statue dedication">
    <figcaption>July 2 dedication parade</figcaption>
  </figure>
  <figure>
    <img src="/assets/images/landmarks/rough-rider-statue/334-1924-tr-statue-dedication-group-shot.jpg" alt="Attendees at the July 1924 Roughrider statue dedication">
    <figcaption>Attendees at the July 1924 dedication ceremony</figcaption>
  </figure>
</div>

<p>The statue was cast in 1922 at {% place "roman-bronze-works" %}Roman Bronze Works{% endplace %} in New York and dedicated on July 2, 1924. The bronze measures 56 by 56 by 20 inches. Its stone base, prepared by Mandan master stonecutter {% person "hynek-rybnicek" %}Hynek Rybnicek{% endperson %}, measures 57 by 72 by 56 inches.</p>

<p>After the unveiling, the <em>{% place "mandan-pioneer" %}Mandan Daily Pioneer{% endplace %}</em> newspaper reported of the crowd attending the ceremony, "Hundreds of cowboys, a half thousand Indians, intermingled with the six hundred Legionnaires were for the state convention, school children, old timers of the early days, staid business in fantastic roundup shirts and holiday sombreros and a large number of service men in uniform.” A message from President {% person "calvin-coolidge" %}Coolidge{% endperson %} was also read.</p>

<p>A full-size replica was cast in bronze in 1923 by the {% place "henry-bonnard-foundry" %}Henry Bonnard Foundry{% endplace %} of New York. Mounted on a California light-gray Raymond granite pedestal, it is displayed in Minot. During his lifetime, Coe refused requests to copy the statue for {% place "fairmount-park-philadelphia" %}Fairmount Park{% endplace %} in Philadelphia and Central Park in New York. A 12-inch cast remained in the {% place "state-historical-society-of-north-dakota" %}State Historical Society of North Dakota{% endplace %} archives for more than seven decades before being transferred to the {% place "proctor-museum-wyoming" %}Proctor Museum{% endplace %} in Wyoming in 2007.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/landmarks/rough-rider-statue/708-1924-np-park-layout.jpg" alt="March 1924 Northern Pacific property plat showing the statue site">
    <figcaption>Detail from a March 1924 Northern Pacific Railroad property plat</figcaption>
  </figure>
</div>

<p>The statue was originally installed along Main Street in the center of the east depot park. It moved to its current location, centered on Main Street at Third Avenue, during construction of the {% place "northern-pacific-colonial-depot" %}Colonial depot{% endplace %} in 1930. The wooden flagpole from {% place "fort-abraham-lincoln" %}Fort Abraham Lincoln{% endplace %} was also moved to the depot ellipse. It eventually deteriorated and was replaced by the present metal flagpole.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/landmarks/rough-rider-statue/679-colonial-grounds-layout-1931.jpg" alt="1931 layout of the Northern Pacific depot grounds and Roughrider statue">
  </figure>
</div>

<p>Roosevelt briefly served as a Morton County deputy sheriff. Sheriff {% person "george-harmon" %}George Harmon{% endperson %} authorized him to pursue three men accused of stealing his 16-foot boat from the {% place "elkhorn-ranch" %}Elkhorn Ranch{% endplace %} during a wintry April 1886. Roosevelt subdued them without a fight and brought them to Mandan for trial. One was released, and two received five-year prison sentences in the {% place "north-dakota-state-penitentiary" %}Bismarck penitentiary{% endplace %}. Because of the cold, Roosevelt did not bind their hands or feet. He borrowed a wagon and walked guard behind them for 36 hours without sleep before stopping in Dickinson.</p>
