<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/elizabeth-bacon-custer/207-custer-elizabeth.jpg" alt="Portrait of Elizabeth “Libbie” Custer">
  </figure>
</div>

<p>Elizabeth “Libbie” Custer is best known as the wife and widow of Lieutenant Colonel {% person "george-armstrong-custer" %}George Armstrong Custer{% endperson %}, who was killed at the Battle of the Little Bighorn in 1876.</p>

<p>Elizabeth Clift Bacon was born April 8, 1842, in Monroe, Michigan, to {% person "daniel-stanton-bacon" %}Judge Daniel Stanton Bacon{% endperson %} and {% person "eleanor-sophia-page" %}Eleanor Sophia Page{% endperson %}. She was the only one of the judge's children to survive to adulthood, and her father doted on her. Elizabeth, who stood 5 feet 4 inches tall and had chestnut-brown hair and blue-gray eyes, graduated as valedictorian of Monroe's Young Ladies' Seminary and Collegiate Institute. Her father hoped she would marry within their social class.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/elizabeth-bacon-custer/229-custer-george-with-libby.jpg" alt="George and Elizabeth Custer together">
  </figure>
</div>

<p>Elizabeth met Custer at a Thanksgiving gathering in 1862 during the Civil War and fell deeply in love with him. Her father initially opposed the marriage because Custer came from an undistinguished family and offered the uncertain life of an Army officer. After Custer became a brevet brigadier general, Judge Bacon relented. The couple married February 9, 1864, at First Presbyterian Church in Monroe.</p>

<p>Libbie accompanied her husband to assignments from the Virginia front, where he became a major general, to Texas, Fort Riley in Kansas, and {% place "fort-abraham-lincoln" %}Fort Abraham Lincoln{% endplace %} in Dakota Territory.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/elizabeth-bacon-custer/439-goff-custer-ftlincolnofficers.jpg" alt="Officers at Fort Abraham Lincoln in an 1873 O. S. Goff photograph">
    <figcaption>Fort Abraham Lincoln officers, 1873; photograph by {% person "orlando-scott-goff" %}O. S. Goff{% endperson %}</figcaption>
  </figure>
</div>

<p>As Fort Lincoln's social leader, Libbie hosted events for officers and regional dignitaries. She was given the title “Mrs. Major-General.” In a letter to her husband, she wrote that it made her sound “stuck-up,” but added that George would prevent her from becoming so.</p>

<p>Elizabeth lived for 57 years after her husband's death and regarded public defense of his reputation as her responsibility as “the widow of a national hero.” She lectured around the world and was remembered for accompanying the Seventh Cavalry on many expeditions. During the Civil War, she lived in a tent near battlefields and rode with soldiers, wearing uniform-inspired dresses that expressed her dedication to her husband and the Army.</p>

<p>The controversy surrounding Custer and his role in the American West fueled Libbie's efforts to counter {% person "ulysses-s-grant" %}President Ulysses S. Grant{% endperson %}'s claim that Custer's leadership caused the defeat at the Little Bighorn. Her books <em>Boots and Saddles</em> (1885), <em>Following the Guidon</em> (1890), and <em>Tenting on the Plains</em> (1893) promoted and defended her husband's memory. She also wrote “The Kid,” a children's story published with illustrations in <em>St. Nicholas Magazine</em> in 1900.</p>

<p>Elizabeth Custer died at her New York City home April 6, 1933, two days before her 91st birthday. She is buried beside her husband at the U.S. Military Academy at West Point.</p>
