<h3>2000</h3>

<p>On February 1, Mandan adopted a city-manager form of administration with the appointment of {% person "james-neubauer" %}James Neubauer{% endperson %} as full-time city administrator. {% person "kevin-christ" %}Kevin Christ{% endperson %} had served as city auditor until June 1998. The auditor's duties had been divided among other city employees until the change.</p>

<h3>2001</h3>

<h3>2002</h3>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/2000s/708-hot-dog-sketch-kms.jpg" alt="Historic image from the The Start of the 21st Century 2000-2009 page">
  </figure>
</div>

<p>On July 2, during the city's Rodeo Days celebration, Cloverdale Foods Company set a record for the "World's Longest Hot Dog" under the supervision of Guinness World Records staff. The previous record, set in Pennsylvania, was 15 feet 3 inches. A team of 30 Cloverdale employees constructed a hot dog measuring 21 feet 4.25 inches. The record stood for six years, until a team in Monterrey, Mexico, produced a 375-foot hot dog on September 27, 2008.</p>

<h3>2003</h3>

<h3>2004</h3>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/2000s/80-bluethunder-green-on-white.jpg" alt="Historic image from the The Start of the 21st Century 2000-2009 page">
  </figure>
</div>

<p>The Mandan Historical Society was formed in January. The group selected as its logo a pictogram developed by the Mandan Commercial Club in the 1920s to promote the community. {% person "blue-thunder" %}Blue Thunder{% endperson %} was a Sioux tribal historian who frequently served as a translator for the military and early settlers.</p>

<h3>2008</h3>

<p>In December, the original Mandan Theater, later known as the Showboat Theater, reopened as Mysteria Theater, a live-entertainment venue paired with an upscale restaurant.</p>

<h3>2009</h3>

<p>A second fire station opened in the Lakewood area to serve southeast Mandan. A new drinking-water arterial distribution system and south-side reservoir were also completed to serve that part of the city.</p>

<p>A sixth-grade wing opened at Mandan Middle School, bringing an end to classes at Great Plains Academy. The Fourth Street complex had served as the site of the city's central school since 1904 and had been expanded repeatedly.</p>

<p>The Park District purchased Raging Rivers Water Park in southeast Mandan from its private owners. Harmon Lake opened in northern Morton County. Its dam helped hold back rapid spring snowmelt that caused disruption and raised river levels in the Mandan-Bismarck area in April 2009.</p>
