<h3>2000</h3>

<p>On February 1, the City of Mandan administration changed to a "city manager" format, with the appointment of James Neubauer as a full-time City Administrator. Kevin Christ had served as the city's auditor until June of 1998. The city's auditors duties had been divided among other city employees until the recent change.</p>

<h3>2001</h3>

<h3>2002</h3>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/2000s/708-hot-dog-sketch-kms.jpg" alt="Historic image from the The Start of the 21st Century 2000-2009 page">
  </figure>
</div>

<p>On July 2, during the city's Rodeo Days Celebration, Cloverdale Foods Company successfully set the record for the "Worlds Longest Hotdog" under the supervison of the staff of the Guniness Book of World Records. The prior record was held in Pennsylvania at 15 feet 3 inches. The team of 30 Cloverdale employees constructed a hotdog 21 feet and 4.25 inches in length. The record would be held for six years until exceeded on September 27, 2008 by a team in Monterrey, Mexico. That hot dog was recorded at 375 feet.</p>

<h3>2003</h3>

<h3>2004</h3>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/2000s/80-bluethunder-green-on-white.jpg" alt="Historic image from the The Start of the 21st Century 2000-2009 page">
  </figure>
</div>

<p>In January, the Mandan Historical Society was formed. The group selected as its logo a pictogram developed by the Mandan Commercial Club in the 1920s to promote the community. Blue Thunder was a Sioux tribal historian, and frequently served as a translator for the military and early settlers.</p>

<h3>2008</h3>

<p>In December, the original Mandan Theater / Showboat Theater reopened as Mysteria Theater - a live entertainment venue coupled with a up-scale restaurant.</p>

<h3>2009</h3>

<p>A second fire station opened in the Lakewood area to serve southeast Mandan. New drinking water aertial distribution system and southside reservoir was completed to service that area of the city.The sixth-grade wing opened at the Mandan Middle School which prompts the last class being held at the Great Plains Academy. The Fourth Street complex had been the site for the city's central school starting in 1904 and repeatedly expanded since that time.The Park District purchased "Raging Rivers Water Park" in the southeast portion of the city from private owners. Harmon Lake opened in north Morton County. It's dam was instrumental in holding back the rapid spring snowmelt which raised both havoc and river levels in the Mandan-Bismarck area in April 2009.</p>
