<p>Charles Cooley attended his first meeting as a newly elected commissioner in 1928. The following night, the existing Mandan City Hall burned to the ground. Commissioner Cooley was instrumental in securing the replacement building we know today as the Collins Avenue Civic Building.</p>

<div class="article-split">
  <div>
    <p>Named a National Outstanding Civic Improvement of 1928, "Mandan's new city hall building is of modern architectural design and well adapted to meet the needs of the municipality. It is being erected for a cost of less than $25,000 and will house the city's officials, the fire equipment and force, the city jail and shop for the repair and storage of street equipment."</p>

    <p>The building originally housed the city administration, police and fire departments, city jail, and street department.</p>
  </div>
  <figure>
    <img src="/assets/images/collins-civic/collins-avenue-civic-building-1929.jpg" alt="Historic view of the Collins Avenue Civic Building">
    <figcaption>Mandan Historical Society Collection</figcaption>
  </figure>
</div>

<p>In its simplest form, Art Deco architecture uses decorative materials. The style was significant in North Dakota during the 1920s and 1930s. Architect Gilbert R. Horton designed the building.</p>

<p>Rather than adding stone ornament to the building, builders used different colors and patterns of brick to create visual interest, produce a "modern" appearance, and reduce costs. The Burleigh County Courthouse and the State Capitol in Bismarck are both examples of the style in stone. Many Works Progress Administration (WPA) buildings were also designed in the Art Deco style.</p>

<div class="article-split article-split-small-image">
  <figure>
    <img src="/assets/images/collins-civic/blue-thunder-emblem.jpg" alt="Blue Thunder emblem above the Collins Avenue entrance">
  </figure>
  <p>A cut-granite emblem of Blue Thunder is emblazoned above the street-side entrance. This logo was used in business-community publications in the 1920s. Even a soda-pop can was distributed with the logo on it. Blue Thunder was a Sioux scout who carried information and mail or served as a translator for the military in Mandan. According to his descendant, Dakota Goodhouse, he was a tribal historian who kept a winter count (census). Mandan stone sculptor and artist Hynek Rybnicek was commissioned to carve this stone plaque, which remains in place today.</p>
</div>

<div class="article-split">
  <p>Although originally built as a multipurpose facility, subsequent modifications and additions have increased its total square footage while narrowing its purpose. The city’s municipal offices and police department were relocated in 1978 and 1986, respectively. The last major renovation, in 2003, committed $550,000 to incorporate a fitness center, additional equipment storage, and improved staff living facilities. The original vehicle garage was converted into a training room. Vehicle bays were added to the south and east sides of the building.</p>
  <figure>
    <img src="/assets/images/collins-civic/collins-avenue-civic-building-1943-flood.jpg" alt="The original Collins Avenue Civic Building during the 1943 flood">
    <figcaption>Collins Avenue Civic Building during the 1943 flood</figcaption>
  </figure>
</div>

<p>The project was designed and supervised by Mandan architect Al Fitterer.</p>

<p>The building is currently used exclusively by the Mandan Fire Department and is frequently referred to as the "Mandan Fire Hall." A third high bay was added in 2006 to house the east-side ground oil remediation system. Once the remediation is complete, the equipment will be removed and the area converted into a service bay for maintaining fire department equipment.</p>

<figure class="article-figure-wide">
  <img src="/assets/images/collins-civic/collins-avenue-civic-building-2008.jpg" alt="The expanded Collins Avenue Civic Building in 2008">
  <figcaption>Collins Avenue Civic Building in 2008, after its most recent expansion</figcaption>
</figure>
