<h3>1970</h3>

<p>Joes's Bar of Mandan held its a three day "Polkafest" in October, and would continue as an annual event for several years. Initially sponsored by Joe's Bar and owners John and Vye Baron, it would continued to be coordinated by subsequent owners Bernie Stein and family through 1985.</p>

<h3>1975</h3>

<p>Mandan annexed approximately 1200 acres along Memorial Highway aka "The Strip." Midway between both cities, it offered a location to businesses wanting to serve both sides of the river. Being on a flood plain before the completion of Garrison Dam in 1956 and Crown Butte Dam in 1963, development was limited as spring floods frequently occurred. The action was not without controversy. Most of the area did not have adequate drainage or sewage service, both of which would have to be brought up to standards required by the ND Department of Health. With taxes. Over $1 million (or $4 million in 2008 dollars) in special assessment taxes alone.John Maher started a newspaper dubbed "The Mandan News" with its first issue on September 30. Ken Rogers served as editor. The paper was located at 303 First St NE. Ken Maher would later succeed his father as publisher.</p>

<h3>1977</h3>

<h3>1979</h3>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1970s/237-1979-tree-removal-bistrib-photo.jpg" alt="Historic image from the Progress and Pain 1970-1979 page">
  </figure>
</div>

<p>Memorial Highway was widened to five lanes. Rear-end collisions were the frequent result of high traffic volumes on a two-lane road. The $1.2 million project provided a central turning lane and and lighting, a train underpass and river levee gate on the west end access to Mandan Avenue. The project also removed hundreds elm and box-elder trees, planted in the mid-1920s by the Mandan's Daughters of American Revolution and American Legion Auxillary.</p>
