<div class="image-gallery">
  <figure>
    <img src="/assets/images/landmarks/northern-pacific-freight-house/320-1910-mar-8-fh-fire-cropped.jpg" alt="Historic image from the NP Freight House page">
  </figure>
</div>

<p>The Northern Pacific Railway (NPRy) east freighthouse, filled to capacity with flammable materials, was destroyed by fire on March 8, 1910. Despite efforts by Chief Dave Taylor and his volunteer firemen, the water pressure was inadequate to contain the fire with three lines. Losses were estimated at $30,000 for the building and its contents. A string of 12 boxcars alongside also caught fire, but were moved and extingiushed. The lumber barn of the Bingenheimer Mercantile, on the adjacent eastside property, was also saved.</p>

<p>The Heart River almost overflowed its banks again during the 1910 spring thaw, prompting NPRy to build their new freight house &amp; passenger depot on west Main St. In September 1910, the new freight depot was opened at the west end of town. The office area was located at the east end of the building and was separated from the freight room by a firewall. A passageway from the outside leads to the stairways to the basement and to the second floor which accommodated the large number of offices when the division headquarters were moved there.Railroad officials boasted that at the time, the new freight house was the largest and most elaborate building of the kind between the Twin Cities and the West Coast. Its immense size stemmed from NPRy's belief that Mandan would be home soon to 15,000 to 20,000 people.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/landmarks/northern-pacific-freight-house/708-aerial-1956.jpg" alt="Historic image from the NP Freight House page">
    <figcaption>1956 NP Railway Freight House</figcaption>
  </figure>
</div>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/landmarks/northern-pacific-freight-house/334-1994-rennovation.jpg" alt="Historic image from the NP Freight House page">
  </figure>
</div>

<p>In 1992, a telemarketing firm purchased the building and renovated it although the railroad (now Burlington Northern Santa Fe Railway) continued to own the land. The operation continued for only two years. Eventually a local developer bought the building but it sat vacant for several years.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/landmarks/northern-pacific-freight-house/356-cropped-mandan-library-west.jpg" alt="Historic image from the NP Freight House page">
  </figure>
</div>

<p>In 2003, BNSF Railway offered the city a deal on the land lease if Mandan bought the old freight house for conversion to a library. It offered to reduce the rent on the land under the freight house and the city-owned depot and beanery to $500 a year, from the present $6080 annually. The City of Mandan would later receive the land in 2004 as part of the groundoil clean-up settlement with the BNSF.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/landmarks/northern-pacific-freight-house/207-freighthouse-front-desk.jpg" alt="Historic image from the NP Freight House page">
    <figcaption>Circulation Desk</figcaption>
  </figure>
  <figure>
    <img src="/assets/images/landmarks/northern-pacific-freight-house/214-freighthouse-bookstacks.jpg" alt="Historic image from the NP Freight House page">
    <figcaption>Library Book Racks</figcaption>
  </figure>
  <figure>
    <img src="/assets/images/landmarks/northern-pacific-freight-house/207-freighthouse-sctrd-vllg.jpg" alt="Historic image from the NP Freight House page">
    <figcaption>Scattered Village Displays</figcaption>
  </figure>
</div>

<p>In November 2006, the county and city citizens voted to combine their two libraries onto one entity, which was complete May 15, 2007.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/landmarks/northern-pacific-freight-house/708-freighthouse-north.jpg" alt="Historic image from the NP Freight House page">
    <figcaption>Northside Building View - 2011</figcaption>
  </figure>
</div>
