<p>In 1886, Missionary Ole J. Norby, a native of Norway, arrived in Mandan and discovered many Scandinavians of the Lutheran faith. He saw the need to establish a church. On April 18, 1886, a group of pioneers gathered at the rural home of Mr. and Mrs. Hans Benson six miles west of Mandan near Marmot to organize a Lutheran church congregation.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/landmarks/first-lutheran-church/327-exterior.jpg" alt="Historic image from the First Lutheran Church page">
  </figure>
</div>

<p>Five years after its founding, the first church, a small wooden structure was built in the Syndicate area, southwest Mandan. In 1961, the congregation celebrated its 75th anniversary of its founding with the dedication its third church building located at the corner of 9th Street and 4th Avenue NW. The first part of the current church was completed and opened for use in 1957 and replaced the 44-year-old wood structure at Eighth Avenue and First St NW.</p>

<p>Pastor Reverand Carsten F. Brien led the celebration and served the congregation since in 1949. Three members were honored during the dedication, Mrs. A.C. Hermanson of Mandan, Oscar Carlson of the Stone community, and Mrs. Nancy (Carl) Hendrickson of the Heart River area. Carlson and Hendrickson were baptized on the day the church was established on April 18, 1886 as the Scandinavian Evangelical Lutheran Church. In 1996, the congregation dedicated a major addition to the church building with a special service, followed by a meal. The nearly $1 million addition began as a renovation of the original 1957 building but expanded to include 4,300 sq ft of additional space, bringing the complex to a total of 26,422 sq ft. http://www.firstlutheranofmandan.org/index_files/Page994.htm</p>
