---
layout: layouts/page.njk
title: "July 2012 Ag Station Centennial"
eyebrow: "Past program"
description: "Historical Society Display Tent On July 19, 2012, the Mandan Historical Society was invited to participate in the US Dept of Agriculture - ARS Mandan's Northern Great Plains Research Laboratory's Centennial Friends & Neighbors' Day celebration."
id: ag-station-centennial
kind: event
section: events
order: 20
tags: records
legacyUrl: http://www.mandanhistory.org/eventsactivities/ngprscentlcelebration.html
sourceFile: archive/source/mandanhistory-org.wacz
capturedAt: 2026-05-29T20:04:42Z
card:
  title: "July 2012 Ag Station Centennial"
  meta: ""
  image: /assets/images/miscellaneous/ag-station-centennial/320-scan0010.jpg
  imageAlt: "Historic image from the July 2012 Ag Station Centennial page"
---
<div class="image-gallery">
  <figure>
    <img src="/assets/images/miscellaneous/ag-station-centennial/320-scan0010.jpg" alt="Historic image from the July 2012 Ag Station Centennial page">
  </figure>
</div>

<p>Historical Society Display Tent On July 19, 2012, the Mandan Historical Society was invited to participate in the US Dept of Agriculture - ARS Mandan's Northern Great Plains Research Laboratory's Centennial Friends &amp; Neighbors' Day celebration. The display entitled "100 Years in Photos - NGPRL" leveraged the Society's collection of historic photographs and other artifacts associated with staff, personal and events for the facility.</p>

<p>The special challenge for the day was the extreme heat and humidity. Despite being the hottest July 19th in the 138 years of record keeping, over 600 people came to the celebration. The 104 ⁰F temperature surpassed the previous record of 100 ⁰F temperature set in 2007. The 19% humidity was also twice the typical value for such and extreme air temperature for the area.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/miscellaneous/ag-station-centennial/480-1932-snake-road-lutz.jpg" alt="Historic image from the July 2012 Ag Station Centennial page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/ag-station-centennial/480-us-experimental-lab-photo-bloom-mhsoc.jpg" alt="Historic image from the July 2012 Ag Station Centennial page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/ag-station-centennial/480-seed-house-cropped.jpg" alt="Historic image from the July 2012 Ag Station Centennial page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/ag-station-centennial/480-mandan-expermt-lab-lutz-ps.jpg" alt="Historic image from the July 2012 Ag Station Centennial page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/ag-station-centennial/480-ngprl-snake-road-mhsoc.jpg" alt="Historic image from the July 2012 Ag Station Centennial page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/ag-station-centennial/480-ag-research-stn-street-bldgs-ndsu-irs-rs003971.jpg" alt="Historic image from the July 2012 Ag Station Centennial page">
  </figure>
</div>

<p>Image:</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/miscellaneous/ag-station-centennial/doctype-pdf.gif" alt="Historic image from the July 2012 Ag Station Centennial page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/ag-station-centennial/doctype-pdf-2.gif" alt="Historic image from the July 2012 Ag Station Centennial page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/ag-station-centennial/doctype-pdf-3.gif" alt="Historic image from the July 2012 Ag Station Centennial page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/ag-station-centennial/doctype-pdf-4.gif" alt="Historic image from the July 2012 Ag Station Centennial page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/ag-station-centennial/doctype-pdf-5.gif" alt="Historic image from the July 2012 Ag Station Centennial page">
  </figure>
</div>

<p>Document Library NameDescription NGPR LaboratoryA Brief History of the Facility W. A. LantermanWilliam A. Lanterman Biography A. E. ThorbergAndrew E. Thorberg Biography C. L. TimmermanCharles L. Timmerman Biography Oscar H. Will CompanyA Brief History of the Oscar H. Will &amp; Co.</p>

<p><a href="/assets/documents/ag-station-centennial/ngp-ag-research-lab-wall-poster-tabloid.pdf">NGP Ag Research Lab Wall Poster Tabloid</a></p>

<p><a href="/assets/documents/ag-station-centennial/ngp-ag-research-lab-wall-poster-tabloid.pdf">NGPR Laboratory</a></p>

<p><a href="/assets/documents/ag-station-centennial/lanterman-wall-poster-tabloid.pdf">Lanterman Wall Poster Tabloid</a></p>

<p><a href="/assets/documents/ag-station-centennial/lanterman-wall-poster-tabloid.pdf">W. A. Lanterman</a></p>

<p><a href="/assets/documents/ag-station-centennial/thorberg-wall-poster-tabloid.pdf">Thorberg Wall Poster Tabloid</a></p>

<p><a href="/assets/documents/ag-station-centennial/thorberg-wall-poster-tabloid.pdf">A. E. Thorberg</a></p>

<p><a href="/assets/documents/ag-station-centennial/timmerman-wall-poster-tabloid.pdf">Timmerman Wall Poster Tabloid</a></p>

<p><a href="/assets/documents/ag-station-centennial/timmerman-wall-poster-tabloid.pdf">C. L. Timmerman</a></p>

<p><a href="/assets/documents/ag-station-centennial/oscar-will-co-wall-poster-tabloid.pdf">Oscar Will Co Wall Poster Tabloid</a></p>

<p><a href="/assets/documents/ag-station-centennial/oscar-will-co-wall-poster-tabloid.pdf">Oscar H. Will Company</a></p>
