---
layout: layouts/page.njk
title: "Theodore Roosevelt - Henry Waldo Coe Exhibit"
eyebrow: "Past exhibit"
description: "The featured display during the summer of 2010 highlighted the eternal friendship between the 26th President of the United States Theodore Roosevelt and former Mandan Mayor Henry Waldo Coe."
id: theodore-roosevelt-henry-waldo-coe-exhibit
kind: exhibit
section: events
order: 40
tags: records
legacyUrl: http://www.mandanhistory.org/eventsactivities/trcoeexhibit.html
sourceFile: archive/source/mandanhistory-org.wacz
capturedAt: 2026-05-29T20:10:55Z
card:
  title: "Theodore Roosevelt - Henry Waldo Coe Exhibit"
  meta: ""
  image: /assets/images/miscellaneous/theodore-roosevelt-henry-waldo-coe-exhibit/207-trportraitright.jpg
  imageAlt: "Historic image from the Theodore Roosevelt - Henry Waldo Coe Exhibit page"
---
<p>The featured display during the summer of 2010 highlighted the eternal friendship between the 26th President of the United States Theodore Roosevelt and former Mandan Mayor Henry Waldo Coe.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/miscellaneous/theodore-roosevelt-henry-waldo-coe-exhibit/207-trportraitright.jpg" alt="Historic image from the Theodore Roosevelt - Henry Waldo Coe Exhibit page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/theodore-roosevelt-henry-waldo-coe-exhibit/207-coe-h-w-portrait-via-spelman.jpg" alt="Historic image from the Theodore Roosevelt - Henry Waldo Coe Exhibit page">
  </figure>
</div>

<p>In 1884, Coe met a young Theodore Roosevelt who was here trying to regain his health. Aside from his personal friendship, Henry Coe admired Roosevelt's politics. Theodore was a deputy sheriff of Morton County which at one time extended to the Montana border and Roosevelt routinely traveled to the county seat at Mandan.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/miscellaneous/theodore-roosevelt-henry-waldo-coe-exhibit/708-tr-coe-display-boards-2010.jpg" alt="Historic image from the Theodore Roosevelt - Henry Waldo Coe Exhibit page">
  </figure>
</div>

<p>2010 Floor Display</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/miscellaneous/theodore-roosevelt-henry-waldo-coe-exhibit/319-tr-dec1914-letter.jpg" alt="Historic image from the Theodore Roosevelt - Henry Waldo Coe Exhibit page">
  </figure>
</div>

<p>Dakota Territorial Legislature. The pair remained in touch throughout their lives, including both serving in key roles in the national Progressive Party. Coe commissioned a life-size statue of Roosevelt after his death in 1919 for the city of Portland, OR., where he resided and was a former mayor there. Coe also gave a smaller version of this “Roughrider” statue to Mandan, which remains on display in the NP depot ellipse on Main Street. A full-size replica was also gifted to the City of Minot, ND and stands in Roosevelt Park there. In additional to biographical information on both men, background information on the Roughrider statue, information on Theodore Roosevelt’s visit to North Dakota in 1903 is also presented.An actual letter sent from Theodore Roosevelt to Henry Coe bearing his signature is the featured item of the display. Click to Enlarge</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/miscellaneous/theodore-roosevelt-henry-waldo-coe-exhibit/267-dscn3491.jpg" alt="Historic image from the Theodore Roosevelt - Henry Waldo Coe Exhibit page">
  </figure>
</div>

<p>The highlight of the 2010 Rodeo Day celebration was the appearance made by professional a Theodore Roosevelt impersonator / re-enactor Gib Young. In addition to delivering a speech to crowds gathered from the park's bandshell, he also posed for photos at the Roosevelt Roughrider statue in the depot's ellipse as well as signed "autographs" at the Mandan Historical Society's museum. He also entertained the spectators at the Saturday evening rodeo performance.Additional information on Roosevelt and Henry Coe is presented as a Legacy Biography. Click --&gt; [Biographies A-D] --&gt; [Henry Waldo Coe] for details.</p>
