---
layout: layouts/page.njk
title: "World War II Exhibit July 2008"
eyebrow: "Past exhibit"
description: "The Mandan Historical Society opened museum space in the former Northern Pacific Beanery building on July 3, 2008 in conjunction with the City of Mandan's Rodeo Days."
id: world-war-ii-exhibit
kind: exhibit
section: events
order: 50
tags: records
legacyUrl: http://www.mandanhistory.org/eventsactivities/wwiiexhibit.html
sourceFile: archive/source/mandanhistory-org.wacz
capturedAt: 2026-05-29T20:15:03Z
card:
  title: "World War II Exhibit July 2008"
  meta: ""
  image: /assets/images/miscellaneous/world-war-ii-exhibit/304-beanery-cropped.jpg
  imageAlt: "Historic image from the World War II Exhibit July 2008 page"
---
<div class="image-gallery">
  <figure>
    <img src="/assets/images/miscellaneous/world-war-ii-exhibit/304-beanery-cropped.jpg" alt="Historic image from the World War II Exhibit July 2008 page">
  </figure>
</div>

<p>The Mandan Historical Society opened museum space in the former Northern Pacific Beanery building on July 3, 2008 in conjunction with the City of Mandan's Rodeo Days. The focus of the initial exhibit was Mandan's contribution to the national effort in World War II. Period artifacts were displayed from area veterans in addition to a exhibit on the WWII Memorial completed in 2005 on the Capitol Mall in Washington, DC. Posters from the State Historical Society of North Dakota decorated the room and set the tone for the exhibit.</p>

<p>Veterans from all branches of the Service who are or have been residents of Mandan were honored. A ceremony was hosted by Mandan mayor Tim Helbling, joined by representatives of Senator Byron Dorgan and Kent Conrad, to present certificates to area veterans. The honor guard from the VFW added a 21-gun salute followed by "echo taps" to recognize the supreme sacrifice paid by our veterans who never returned home.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/miscellaneous/world-war-ii-exhibit/480-dscf0731.jpg" alt="Historic image from the World War II Exhibit July 2008 page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/world-war-ii-exhibit/480-dscf0737.jpg" alt="Historic image from the World War II Exhibit July 2008 page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/world-war-ii-exhibit/480-dscf0733.jpg" alt="Historic image from the World War II Exhibit July 2008 page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/world-war-ii-exhibit/480-dscf0695.jpg" alt="Historic image from the World War II Exhibit July 2008 page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/world-war-ii-exhibit/480-dscf0694.jpg" alt="Historic image from the World War II Exhibit July 2008 page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/world-war-ii-exhibit/480-dscf0739.jpg" alt="Historic image from the World War II Exhibit July 2008 page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/world-war-ii-exhibit/480-dscf0687.jpg" alt="Historic image from the World War II Exhibit July 2008 page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/world-war-ii-exhibit/480-dscf0686.jpg" alt="Historic image from the World War II Exhibit July 2008 page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/world-war-ii-exhibit/480-dscf0746.jpg" alt="Historic image from the World War II Exhibit July 2008 page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/world-war-ii-exhibit/480-dscf0697.jpg" alt="Historic image from the World War II Exhibit July 2008 page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/world-war-ii-exhibit/480-dscf0712.jpg" alt="Historic image from the World War II Exhibit July 2008 page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/world-war-ii-exhibit/480-dscf0707.jpg" alt="Historic image from the World War II Exhibit July 2008 page">
  </figure>
  <figure>
    <img src="/assets/images/miscellaneous/world-war-ii-exhibit/480-dscf0719.jpg" alt="Historic image from the World War II Exhibit July 2008 page">
  </figure>
</div>

<p>Image:</p>
