<p>The first public school classes were held in Mandan's first City Hall which was located in the 200 block of Anhurst Avenue (today's First Avenue NW). However, some local historians claim the instruction took place at the city's first courthouse in the Spring of 1877. Total enrollment was 12. Over the next few years, the school was moved from a log cabin owned by J.J. Mitchell (1879) to the Methodist church basement in 1880 to the Presbyterian church basement in 1881. The Mandan School District (also known then and today as Morton County District #1) was formally organized on April 23, 1881 at a meeting of town leaders held in the Methodist Church. By 1882, enrollment swelled to 60 students.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/mandan-school-system-history/300-first-school-1883-birdseye-view.jpg" alt="Historic image from the History of Mandan&#x27;s School System page">
    <figcaption>Exerpt from 1883 Stoner Birdseye View of Mandan</figcaption>
  </figure>
</div>

<p>The first schoolhouse was constructed in the Fall 1881 on the southeast corner of Wright Avenue (today's First Avenue NE) and Second Street NE. Completed in 1882, the cost of the building was over {% inflation 4000, 1882 %}. Built "in the approved modern style, is of two stories with a belfry and bell, and has large and commodious hall and stairway. The interior is supplied with the best style of desks and blackboards." The school was initially divided into two grades and in 1883 both grades were full.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/mandan-school-system-history/334-expanded-first-school.jpg" alt="Historic image from the History of Mandan&#x27;s School System page">
  </figure>
</div>

<p>First school board directors were Daniel Flynn, Dr. Henry W. Coe, treasurer, and Frank J. Mead. They approved a 26x30 foot addition was built at a cost of $2000 with $1600 in furniture. By 1884, the school was serving 60 pupils and the course of study covered six years. In 1887, with the city's population nearing the 2,500 mark, the school board began renting the Vinton Building in the City's Third Ward as an additional school. Professor Alexander Strahan was principal for both schools in 1888.</p>

<p>The second schoolhouse was opened on the west side of town in 1890 near Mitchell Avenue (today's Eighth Avenue NW) and Main Street and was referred to as the West End School. The building was a two room, two story building converted from a house. Miss Margaret Bowers (later to become Mrs. George Bingenheimer) was primary teacher and principal and taught in the room on the ground floor. She taught first and second grades, had about 25 pupils and received $55 a month in salary. The other teacher, Miss Ida Ellison taught the third, fourth and fifth grades. Citywide, all sixth graders would remain in the two-story Wright Street school which they would share with east-site first through fifth graders. That 1882 building, located near St. Joseph's Catholic Church, would hence forth be referred to as the "East End School."</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/mandan-school-system-history/708-1904-mandan-school-with-kids.jpg" alt="Historic image from the History of Mandan&#x27;s School System page">
    <figcaption>Central School Student Photo</figcaption>
  </figure>
</div>

<p>In 1899, the Mandan Board of Education presided by C. E. Draper with members T. A. Cummins, J. H. McGillic, H. H. Harmon and H. D. Stevenson set to the voters a bill to approve construction of a {% inflation 15000, 1899 %} three-story brick "Central School" to house the junior and senior high students as well as provide a new, larger grade school for west part of the city. More history on this building is available at <a href="/places/gone-forever/central-school/">http://www.mandanhistory.org/goneforever/centralschool.html/</a></p>

<p>In April 1909, the East End school house was moved by William Huff to "Dogtown" (a common reference to the southeast neighborhoods.) It was placed on the curve in the road leading to the Heart River Bridge to serve the city south of the railroad yard. The School Board decided to erect a replacement school building. In the interim, classes were held again at City Hall. In February 1910, the School Board instructed local architect C.A. Bloom to prepare plans for a new two-story and basement school house to be erected in the east end of town. The school was to be of brick and to contain four recitation rooms and an office. Early estimates, incuding plumbing and heating apparatus, expected the cost to top {% inflation 15000, 1910 %}.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/mandan-school-system-history/491-1918-custer-school-mandan.jpg" alt="Historic image from the History of Mandan&#x27;s School System page">
  </figure>
</div>

<p>In April 1912, the city celebrated the opening of a new school in the First Ward named after General George Custer. The dedication ceremony included speeches by Judge James Hanley, Sr. summarizing key points in Custer's life and State's Attorney William Langer who made his short address in German intended for the parents.</p>

<p>The district's school-age population, driven both the city's growth and increasing emphasis on more years of education, demanded additional space. The center of town location prompted additional buildings at the "Central School" site. The first addition occurred in 1911 with the addition of new high school on the west edge of the lot. A new gymnasium was added in 1919.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/mandan-school-system-history/334-1912-high-school.jpg" alt="Historic image from the History of Mandan&#x27;s School System page">
    <figcaption>1911 High School Addition c. 1912 (Note Central School to Left)</figcaption>
  </figure>
  <figure>
    <img src="/assets/images/area-history/mandan-school-system-history/334-mandan-high-school-1934.jpg" alt="Historic image from the History of Mandan&#x27;s School System page">
    <figcaption>1934 New High School (Note Central School in Back)</figcaption>
  </figure>
</div>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/mandan-school-system-history/708-gpa-photo-2016.jpg" alt="Historic image from the History of Mandan&#x27;s School System page">
    <figcaption>Front Entrance - Great Plains Academy building in 2016</figcaption>
  </figure>
</div>

<p>In 1934, high school classes were transferred to a larger high school building designed by Gilbert Horton in the Tudor / Gothic style. Horton, originally from St. Paul, Minnesota relocated to Jamestown in 1911, eventually designing 254 different school buildings in North Dakota. The new school buildng was constructed on the same lot infront of the "Central School." The east-side building was then re-purposed as the junior high school. All the space in the Central School building would function as a grade school. Additional details on the complex, are found at <a href="/places/landmarks/great-plains-academy/">http://mandanhistory.org/arealandmarks/greatplansaccademy.html</a></p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/mandan-school-system-history/708-stark-1951-usgs-topo.jpg" alt="Historic image from the History of Mandan&#x27;s School System page">
  </figure>
</div>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/mandan-school-system-history/334-stark-syndicate-school-1922.jpg" alt="Historic image from the History of Mandan&#x27;s School System page">
  </figure>
</div>

<p>The Syndicate School was constructed in 1922 in southwest Mandan, referring to that area of town developed under the direction of the "Boston Syndicate," a group of East Coast investors including Henry Endicott. The three story (half basement and two stories) brick building was common layout of the time. A wing with additional classrooms was added in 1964. The school was renamed "Mary Stark Elementary School" in 1960 after the death of a long time and beloved teacher. The original structure was razed and replaced with a more modern facility in 1970, and dedicated in January 1971, essentially as it stands today.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/mandan-school-system-history/409-red-trail-elementary-apr2019-3.jpg" alt="Historic image from the History of Mandan&#x27;s School System page">
  </figure>
</div>

<p>Parents and children in northwest Mandan and surrounding rural areas celebrated the opening of Red Trail Elementary School in August 2014. The school, designed with two sections of each grade from kindergarden to fifth, was completely full on its first day of operation. For the 2018 school year, the district experienced an enrollment increase of 200 students, with the majority in north Mandan.</p>

<p>In July 2019, construction began on an eight-classroom addition to the school to add an additional section of each grade at a cost of $2 million. The two additional classrooms will accommodate spilting two grades into an additional section each as demographics dictate. The additional space is scheduled for completion in August 2020.</p>
