<div class="image-pair">
  <figure>
    <img src="/assets/images/stutsman-wyatt-home-historic.jpg" alt="Historic view of the Stutsman-Wyatt Home">
  </figure>
  <figure>
    <img src="/assets/images/stutsman-wyatt-home-2009.jpg" alt="The Stutsman-Wyatt Home in 2009">
  </figure>
</div>

<p>One of Mandan's few surviving concrete survey monuments stands at the corner of this property, a remnant of the area's platting in the early 1900s. {% person "w-h-stutsman" %}W. H. Stutsman{% endperson %}, the son of a Civil War surgeon, was an early resident. He served for ten years as a state railroad commissioner, a predecessor of the North Dakota Public Service Commission, and practiced law in Mandan for 47 years.</p>

<p>Stutsman arrived from Iowa in 1903 with his wife, Ada Sharples. He helped found the Independent Voters Association and served for three years on the Workmen's Compensation Bureau. In 1950, at age 84, he was recognized as North Dakota's oldest Elk. He died later that year.</p>

<p>After unsuccessfully attempting to purchase the former First Street Federal Building, Doug and Joni Wyatt moved into the house with their three children in 2004. While sweeping the attic, they found a long-forgotten possession of Stutsman's. Wrapped around a 48-star flag was a handwritten note on North Dakota Department of State stationery:</p>

<blockquote>
  <p>Mandan, ND November 11, 1918 I paid a $1 for this flag and marched with it in the Jubilation Parade at 2nd Avenue. W.H. Stutsman.</p>
</blockquote>
