<h3>2010</h3>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/2010s/319-wapa-tower.jpg" alt="Historic image from the 21st Century Decade Duo page">
  </figure>
</div>

<p>An April Good Friday blizzard coated rural power lines with tons of ice, damaging more than 10,000 wooden distribution poles and interrupting power in the region for as long as six weeks. The area was declared a federal disaster area.</p>

<p><a href="/places/landmarks/saint-joseph-church/">St. Joseph Catholic Church</a> underwent a $1.2 million interior remodeling project, while a conceptual design was proposed to remodel "the Strip."</p>

<p>The Park District moved its offices to the far southeast corner of town, near the outdoor water park, and transferred ownership of the former Mandan Community Center to the School District. The Mandan High School Speech Team earned its fourth consecutive state championship.</p>

<h3>2011</h3>

<p>Despite earlier precautions, the Mandan-Bismarck area experienced major flooding beginning in May.</p>

<h3>2012</h3>

<p>Recovery efforts continued after the previous year's major flood. Mayor {% person "tim-helbling" %}Tim Helbling{% endperson %} stepped down, and {% person "arlyn-vanbeek" %}Arlyn VanBeek{% endperson %} was elected to succeed him.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/2010s/289-mvpc-bldg-west.jpg" alt="Historic image from the 21st Century Decade Duo page">
  </figure>
</div>

<p>The secondary effects of the state's strong oil economy spurred several developments in Mandan. Walmart announced plans for the region's third Supercenter, this one on the west side of the Missouri River. Two city-owned parcels on North Sunset Drive were sold to area developers for an extended-stay hotel, apartment and office buildings, a bank, and eventually a restaurant and strip mall. The former <a href="/places/landmarks/missouri-valley-grocery-warehouse/">Missouri Valley Produce/John Iverson building</a> was restored for use as a bank and offices.</p>

<h3>2014</h3>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/2010s/207-red-trail-elementary-apr2019-3.jpg" alt="Historic image from the 21st Century Decade Duo page">
  </figure>
</div>

<p>In 2012, voters in Mandan School District No. 1 approved a $12.5 million bond issue to build a new elementary school in northwest Mandan. The measure received 78 percent of the vote, exceeding the 60 percent required for passage. In August 2014, families from north Mandan and surrounding rural areas celebrated the opening of Red Trail Elementary School. The school opened at its capacity of 275 students.</p>
