<h3>2010</h3>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/2010s/319-wapa-tower.jpg" alt="Historic image from the 21st Century Decade Duo page">
  </figure>
</div>

<p>An April Good Friday blizzard formed tons of ice on rural power lines, damaging over 10,000 wooden distribution poles and interrupting power for up to 6 weeks in the region. The area was declared a Federal disaster area.<a href="/places/landmarks/saint-joseph-church/">St. Joesph's Catholic Church</a> undersent a $1.2 million interior remodeling project; while a conceptual design to remodel "the Strip" was proposed.</p>

<p>The Park District moved its offices to the far southeast corner of town by the outdoor waterpark facility while turning over ownership of the former Mandan Community Center facility to the School District. The Mandan High School Speech Team earns a fourth straight state championship.</p>

<h3>2011</h3>

<p>Despite all prior precautions, Mandan-Bismarck experienced major flooding starting in May.</p>

<h3>2012</h3>

<p>Efforts continued to recover from the impacts of the prior year's major flood damage. Mayor Tim Helbling stepped down and Arlyn VanBeek won election to the post.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/2010s/289-mvpc-bldg-west.jpg" alt="Historic image from the 21st Century Decade Duo page">
  </figure>
</div>

<p>Secondary impacts of the state's strong oil economy spurred several developments in Mandan. Walmart Corporation announced the addition of a third SuperCenter to the region, this one on the west side of the river. Two city owned land parcels on north Sunset Drive was sold to area developers for an extended stay hotel, apartment and office buildings, bank and eventually restaurant and strip mall. The former <a href="/places/landmarks/missouri-valley-grocery-warehouse/">Missouri Valley Produce/John Iverson building</a> underwent adaptive restoration to a bank and offices.</p>

<h3>2014</h3>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/2010s/207-red-trail-elementary-apr2019-3.jpg" alt="Historic image from the 21st Century Decade Duo page">
  </figure>
</div>

<p>In 2012, the citizens of the Mandan School District No. 1 approved a $12.5 million bond issue to add a new grade school in northwest Mandan. It got a 78% vote against a required 60% or more to pass. In August 2014, parents and children of north Mandan and adjacent rural areas celebrated the opening of Red Trail Elementary School which opened at capacity of 275 students.</p>
