<div class="image-gallery">
  <figure>
    <img src="/assets/images/landmarks/first-presbyterian-church/229-rev-sloan-portrait.jpg" alt="Historic image from the First Presbyterian Church page">
    <figcaption>Reverand Issac Sloan</figcaption>
  </figure>
</div>

<p>First Presbyterian Church began as a "home mission" to Dakota Territory. Issac Oliver Sloan had spent the majority of his life as a frontier pastor. For many years he traveled along the Northern Pacific Railway preaching and establishing new churches. In 1873, he would help establish a congregation in Bismarck and was elected its pastor. The Mandan Pioneer paper noted "Rev, I.O. Sloan would preach at the school house" on September 11, 1880. The congregation would intially meet wherever they could get space including a saloon and the city's log school house. Property in the city was eventually purchased and a church building constructed. Several Eastern churches helped furnish the building with chairs, communion ware and a large bible was given from a congregation in Philadelphia, Pennsylvania Sloan's hometown.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/landmarks/first-presbyterian-church/419-1919-first-presbyterian-church.jpg" alt="Historic image from the First Presbyterian Church page">
    <figcaption>Line Sketch of First Church Building</figcaption>
  </figure>
</div>

<p>The congregation officially formed on August 21, 1881 upon completion of the first wooden church near the corner of Dilworth Avenue (currently Third Ave NW) &amp; Third Street NW. According to a 1883 edition of the Mandan Pioneer newspaper, "is the largest and most expensive house of worship in the city... A large basement was furnished for a Sabbath School." Mr. C.A. Heegard served as one of the early superintendents of their on-site school. Sloan was appointed Mandan's pastor in 1882.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/landmarks/first-presbyterian-church/446-presbyterian-church-kms.jpg" alt="Historic image from the First Presbyterian Church page">
  </figure>
</div>

<p>In June 1916, the original wood church was moved across the street to provide a temporary venue for continuation of services while a new brick church was built at the original site. In October 1916, "With appropriate ceremonies, the cornerstone of the new First Presbyterian Chuch was laid" with much fanfair in front of a large audience of members and friends, as reported by the Mandan Pioneer newspaper.</p>

<p>The service opened with a hymn, followed by a prayer from Rev F. W. Thompson, pastor of the church. Rev C.H. Brown of the Christ Episcopal Church then gave the scripture reading, followed by Rev F. W. Gress of the Methodist Church giving greetings from the sister church. The cornerstone was laid by Judge A. A. Bruce of the State Supreme Court. A copper box was placed under the stone which contained a picture of the old church, a program of the cornerstone ceremony, a program of Pastor Thompson's installation, a list of the officers of the church, copies of the Mandan Daily Pioneer, Mandan News and the Mandan Republican newspapers." During the construction period, church services were held in the Commercial Club rooms, on top of the former Gambles Store on Main Street. Dedication of the new church was held July 8, 1917.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/landmarks/first-presbyterian-church/364-sloan-window-by-robert-porter.jpg" alt="Historic image from the First Presbyterian Church page">
    <figcaption>Sloan Window</figcaption>
  </figure>
</div>

<p>On Sunday July 8, 1917, the new church was formally dedicated hosting three services that day. Church-going people of all denominations participated in the celebration. The special speaker for the event was Rev. George E. Hunt from Wisconsin. Pastor Rev. F. W. Thompson officated. While impressed with the building's exterior, the eight stained-glass windows, oak pews seating 350 and the richness of the interior and its furnishings, the highlight of the day occurred at the conclusion of the late afternoon's service as the sunset as streamed through the Sloan Memorial Window above the main entrance.</p>

<p>Among the other ministers of the church were the Rev. Hugh H. Owen and the Rev. I Scherpenisse. The building was completed for a cost of $35,000 ($900,000 2025$) and was completely paid for at its opening. Fundraising continued and raised another $5000 for the church's pipe organ, which was installed in July 1919. In 1957, a wing was added to the south of the building, offering 2 floors of classrooms for education programs. The $60,000 addition also included a small chapel, church office space and a study for the pastor. Ground breaking ceremonies were hosted by Reverend John Kuyper and Mrs. Lyon Cary, who had been a member of the parish since 1889. George Toman was school superintendent.The prior pastor for 25 years was Gilbert W. Stewart. Ed Toman was the chairman of the Building Committee and W. A. Wise was the chairman of the Education Committee.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/landmarks/first-presbyterian-church/250-dove-1957-ben-and-barb.jpg" alt="Historic image from the First Presbyterian Church page">
    <figcaption>Ben &amp; Barabara Dove in 1957 - Courtesy of Mandan First Presbysterian Church</figcaption>
  </figure>
</div>

<p>The Reverend A. Benjamin Dove Jr. would assume the role of pastor in September 1959. He and his wife Barbara moved to Mandan from Minnewaukan, ND. Dr. Dove would serve as pastor of the congregation for over 30 years. The east side Sunday School rooms from the 1916 building were remodeled in 1968 into Stark Hall. And a new chancel and a $25,000 pipe organ was dedicated May 11, 1969. In 2014, the church members renamed and rededicated as the Dove Educational Wing in recognition of their service.</p>
