<p>1960</p>

<p>Mandan experienced a resurgence in civic service, with record numbers of fraternal and service clubs and members. This was evident in the number and size of New Year's parties at the downtown Elks Building, Moose Home, Knights of Columbus Hall, American Legion Hall, Veterans of Foreign Wars Club, and Eagles Club. The Revelers Club celebrated at the Mandan Country Club.</p>

<p>After several earlier attempts, Mandan residents approved a move to year-round Central Standard Time by a margin of almost two to one, effective May 15.</p>

<p>A record temperature of 74°F on March 28 hastened the breakup of Missouri River ice on April 5. A huge ice jam on the Heart River backed water over Highway 10 to a depth of 2 feet, forcing the floodgates to close and stopping all traffic to Bismarck. More than 400 Republican convention delegates were staying in Mandan, so the Northern Pacific Railway added six special commuter trains between Mandan and Bismarck to transport them to and from the convention center.</p>

<p>A new gymnasium and additional classrooms were built on the north side of Mandan Senior High School. The gym in the $290,000 addition seated more than 2,000 people for basketball games and included storage and complete athletic facilities, including showers and lockers.</p>

<p>1961</p>

<p>At a time when stay-at-home mothers were common, Morton County had at least five homemakers clubs: the Rock Haven Homemakers Club, Almont Homemakers Club, Fort McKeen Club, Big Bend Homemakers Club, and Highland Homemakers Club.</p>

<p>1962</p>

<p>In April, Mandan elected its first woman to the City Commission. Dolores Pierce joined incumbent George Schantz, who won reelection.</p>

<p>1963</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1960s/144-cd-logo.jpg" alt="Historic image from the Grooving through the Sixties 1960-1969 page">
  </figure>
</div>

<p>Six community civil defense shelters were established in Morton County in April, including four within Mandan's city limits. The Mandan fallout shelters were in the basements of the Lewis and Clark Hotel, Mandan Creamery, St. Joseph School, and the courthouse. Black Motor Sales in New Salem and Hebron Motors Inc. in Hebron hosted shelters for rural areas of the county. Each could hold as many as 1,100 people. The Department of Defense supplied cartons of rations and sanitation and medical supplies.</p>

<p>1964</p>

<p>Direct Distance Dialing came to Mandan in July. A $1.5 million Northwestern Bell Telephone Company upgrade brought seven-digit dialing to the city one month after the same service began in Bismarck. The system replaced the three- and four-digit telephone numbers previously in use. "663" was Mandan's first exchange prefix.</p>

<p>1965</p>

<p>In February, firefighters battled for three hours to extinguish a major fire at the historic Merchant Hotel site at 106 East Main Street. The fire began in the basement and, driven by high winds, quickly spread to both adjacent commercial buildings. At the time, the former hotel housed Ray's Bootery, owned and operated by Ray Mosbrucker. Other affected properties included Seb's Shoe Repair and the vacant former Friesz Grocery building.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1960s/274-grant-marsh-bridge.jpg" alt="Historic image from the Grooving through the Sixties 1960-1969 page">
  </figure>
</div>

<p>Interstate 94 was completed, including a second river crossing on the Grant Marsh Bridge. As in many North Dakota cities, traffic was diverted from Main Street and North Dakota Highway 10. The downtown business districts on both sides of the river eventually suffered as retail stores migrated to stand-alone shopping centers and commercial areas along interstate routes.</p>

<p>1966</p>

<p>North Dakota experienced the "Storm of the Century" from March 2 through March 4, when a late-winter blizzard struck the state. More than 22 inches of snow fell in the area. The <em>Mandan Pioneer</em> published a special souvenir edition about the event.</p>

<p><a href="/assets/documents/area-history/mandan-pioneer-1966-snow-of-the-century-derated.pdf">&#x27;66 Blizzard Souvenir Edition</a></p>

<p>The era of railroad steam engines receded further into the past when demolition experts blasted down a 165-foot chimney in the Mandan rail yards. The Heine Chimney Company had built the reinforced-concrete stack in 1928 to provide draft for steam-engine boilers and returned to topple it with dynamite.</p>

<p>1967</p>

<p>Work was completed in January on the relocation of the Northern Pacific's Mandan-to-Flasher main line. The {% inflation 10000000, 1967 %} project involved more than 40 miles of new track installed by two work crews, which met near Fallon. Construction had begun in September 1965. The U.S. Army Corps of Engineers initiated the project to move the line away from the effects of Lake Oahe. The new route was 22 miles shorter than the old track, which meandered for 67 miles along the Cannonball and Missouri rivers. The original line was abandoned that spring.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1960s/310-1960-ambulance.jpg" alt="Historic image from the Grooving through the Sixties 1960-1969 page">
  </figure>
</div>

<p>In August, the Mandan City Commission voted to support a city ambulance service through a three-party contract with the Bismarck Ambulance Service, which would provide Mandan with an ambulance and driver. Existing ambulance operators Warren Buehler of Buehler Funeral Home and Hector Hoenig of Hoenig Funeral Home had announced earlier that year that they intended to discontinue their services.</p>

<p>During one of the most severe droughts in recent history, local farmers saw crop yields fall by about one-third.</p>

<p>1969</p>

<p>In October 1969, Cass-Clay Creameries of Fargo purchased the Foremost Dairies operation in Mandan. Foremost sold the plant for an undisclosed sum because of its distance from the company's other operations in the Southwest and on the West Coast.</p>
