<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1936-franklin-roosevelt-visit/350-1936-aug-fdr.jpg" alt="Historic image from the August 1936 President Franklin Roosevelt Visits page">
  </figure>
</div>

<p>In August 1936, U.S. President Franklin Delano Roosevelt visited the USDA Agricultural Research Station south of Mandan. The president also drove to an area farm to speak with a farmer who had received a drought-relief grant. A photograph of the event was taken by New York City native Arthur Rothstein, who worked for the Historical Section of the Farm Security Administration, a New Deal agency within the Department of Agriculture. Rothstein later worked for <em>Look</em> magazine. The photograph gained notoriety as part of the traveling U.S. exhibition “This Great Nation Will Endure: Photographs of the Great Depression.”</p>

<p>During their visit to the state, the president and Mrs. Roosevelt were presented with a box of flowers by Mandan's Missouri Slope Gladiolus Society. Red, white, and blue gladioli filled one end of the box, while the popular Gloriana and Apricot Glow varieties filled the other.</p>
