<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1936-franklin-roosevelt-visit/350-1936-aug-fdr.jpg" alt="Historic image from the August 1936 President Franklin Roosevelt Visits page">
  </figure>
</div>

<p>In August 1936, US President Franklin Delano Roosevelt visited the USDA Agricultural Research Station south of Mandan. The President also drove to an area farm to speak with the farmer who had received a drought relief grant. A photo of the event, taken by York City native Arthur Rothstein working for the the “Historical Section” of the Farm Security Administration (part of the "New Deal" Department of Agriculture and would later work for LOOK magazine), gained notoriety as part of the "This Great Nation Will Endure”- Photographs of the Great Depression collection which toured the USA.</p>

<p>During their visit to the state, the President and Mrs. Roosevelt were presented with box of flowers by Mandan's Missouri Slope Gladiolus Society. At one end of the box was a rid, white and blue glads, and at the other end were the pipular Gloriana and Apricot Glows.</p>
