<div class="image-gallery">
  <figure>
    <img src="/assets/images/gone-forever/eielson-field/334-1911-st-henry-aviator-cropped.jpg" alt="Aviator Lucky Bob St. Henry in Mandan in 1911">
  </figure>
</div>

<p>Mandan's first municipal airport was Eielson Field, south of the eastern end of the area now commonly called the Strip. Although the airport was formally dedicated May 2, 1933, construction continued that July as workers cleared and stacked timber from the site. The City reserved the wood as home-heating fuel for the following winter in place of coal.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/gone-forever/eielson-field/708-osterhouse-and-archie-gieser-mechanic.jpg" alt="John Osterhouse and mechanic Archie Gieser around 1935">
    <figcaption>{% person "john-osterhouse" %}John Osterhouse{% endperson %} and mechanic {% person "archie-gieser" %}Archie Gieser{% endperson %}, circa 1935</figcaption>
  </figure>
</div>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/gone-forever/eielson-field/708-laird-swallows-at-airfield.jpg" alt="Laird Swallow aircraft at Eielson Field">
  </figure>
</div>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/gone-forever/eielson-field/334-eielson-field-dedication-1933-fdc.jpg" alt="First-day cover commemorating Eielson Field's 1933 dedication">
  </figure>
  <figure>
    <img src="/assets/images/gone-forever/eielson-field/334-eielson-field-1931-airmail-fdc.jpg" alt="First-day cover commemorating airmail service at Eielson Field">
  </figure>
</div>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/gone-forever/eielson-field/334-eielson-field-carl-ben-eielson.jpg" alt="Portrait of aviator Carl Ben Eielson">
  </figure>
</div>

<p>The field was named for Hatton, North Dakota, native {% person "carl-ben-eielson" %}Carl Ben Eielson{% endperson %}. In April 1928, Eielson and {% person "hubert-wilkins" %}Hubert Wilkins{% endperson %} flew a Lockheed Vega from Point Barrow, Alaska, to Spitsbergen, Norway, becoming the first people to cross the North Pole by air. Expected to last about 20 hours, the flight took six days after the aviators encountered a severe winter storm.</p>

<p>Eielson enlisted in the U.S. Air Corps in 1917 and later served in the aviation section of the U.S. Signal Corps during World War I. After the war, he briefly returned to North Dakota. He was recruited as an Alaska airmail pilot in 1921 and went on to make Arctic aviation history. Eielson and his mechanic died in December 1929 while attempting to rescue 15 people aboard the cargo ship <em>Nanuk</em>, which was trapped in ice off Siberia's North Cape.</p>

<p>Although Mandan's present airport no longer bears Eielson's name, the U.S. Air Force operates Eielson Air Force Base 25 miles southeast of Fairbanks, Alaska. Established in 1939 as a cold-weather aircraft-testing station, the base became home to the 354th Fighter Wing. A World War II Liberty ship and numerous schools in Alaska and North Dakota were also named for Carl Benjamin Eielson.</p>
