<div class="image-pair">
  <figure>
    <img src="/assets/images/ellis-uden-home-historic.jpg" alt="Historic view of the Ellis-Uden Home">
  </figure>
  <figure>
    <img src="/assets/images/ellis-uden-home-current.jpg" alt="Current view of the Ellis-Uden Home">
  </figure>
</div>

<p>In 1941, {% person "herman-uden" %}Herman Uden{% endperson %}, formerly of Helena, Montana, purchased this Victorian house from {% person "chuck-ellis" %}Chuck Ellis{% endperson %}. Uden was born in Minnesota and served in the famed Rainbow Division under General Douglas MacArthur in France. After returning home, he moved to Dickinson in 1928 to manage the J. C. Penney store and married {% person "jennie-kittleson-uden" %}Jennie Kittleson{% endperson %}. He became manager of the company's Hebron store in 1936.</p>

<p>When D. C. Mohr retired from the Mandan J. C. Penney store in 1937, Uden moved to Mandan and managed the store until his retirement in 1957. Members of the Uden family occupied the house from 1941 until 1987, when Jennie Uden, one of the family's four daughters, died.</p>

<p>{% person "ruth-uden" %}Ruth Uden{% endperson %}, the oldest daughter, remembered enjoying the neighborhood while growing up. After graduating from Mandan High School in 1951, she worked summers at Purity Dairy. Her sister {% person "jean-uden" %}Jean{% endperson %} worked at the Mandan Drug soda fountain during high school.</p>

<p>Ruth recalled an ice-skating rink in the vacant lot where St. Michael's Catholic Church was later built. A barn belonging to {% person "john-delbert-allen" %}J. D. Allen{% endperson %} stood north of the rink. Ruth and her friends peered through its windows at the birds and animals being mounted by the taxidermist.</p>
