<p>Harry L. Hartman purchased the two main entertainment venues in the city from Rex Sanderson in early 1915: The Grand Theatre and the Rex Theater. He closed the Grand Theatre in October 1916. Hartman continued to operate the Rex Theater as construction delays pushed back the opening of the new show house, to be known at the "Palace Theatre" by two months. His Hartman Photoplay Company originally scheduled the opening of a remodeled 650-seat "Hartman House" theater for September 1, 1916, but its opening was delayed until November 17, 1916 due to construction delays. In the era where structural fires were commonplace, the construction of a "thoroughly fireproof" building at a cost of $25,000 $750,000 in 2025$)comprised of brick and concrete was a noteworthy event.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/gone-forever/palace-theatre/401-1910-palace-theater.jpg" alt="Historic image from the Palace Theatre page">
  </figure>
</div>

<p>Click to Open The facility opened with seven hundred patrons on its first night. According to newspaper reports, "All were delighted with the fine new show house. Although the six acts of the vaudeville show and the motion pictures were very good and pleased the crowd, it was the theater itself that was big attraction." The seats reportedly had leather bottoms and were big, easy and comfortable with every seat provided a clear view of the stage. The wall decorations in black laid strips in panel and lattice work designs were accented by flower boxes and candle lamps.</p>

<p>The facility was described as "first class in every respect, from the box office to the dressing rooms under the stage." The Mandan Electric Company, which had the lighting and fixture contract, installed over 650 light globes in various parts of the building from the canopy and sign in front, the lobby, and main auditorium, to the special stage lights.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/gone-forever/palace-theatre/444-1916-ad-mandan-pioneer.jpg" alt="Historic image from the Palace Theatre page">
  </figure>
</div>

<p>The venue opened with the movie “The Pawn of Fate” featuring George Beban who played Pierre, a French peasant aspiring to be a great painter and travels to Paris. The corresponding article in the Mandan Pioneer bragged "Mr. Beban’s acting will succeed in sweeping the onlooker from laughter to tears and then from tears to laughter.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/gone-forever/palace-theatre/708-1935c-ac-palace-theatre.jpg" alt="Historic image from the Palace Theatre page">
  </figure>
</div>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/gone-forever/palace-theatre/200-palace-theater-street-scene-1937.jpg" alt="Historic image from the Palace Theatre page">
  </figure>
</div>

<p>Palace Theater 1937 The venue would also host live local performances such as the annual Christmas program presented by the Mandan Music Club. In 1935 and while under the ownership of Frank Wetzstein, a major remodeling effort was undertaken with the installation of an air condition system. The machinery, costing $6000 ($105,000 2015$) kept the interior at a constant at 70 degrees even during the hottest summer day, replacing the rooms' entire air supply every minute.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/gone-forever/palace-theatre/708-1946-palace-theater.jpg" alt="Historic image from the Palace Theatre page">
  </figure>
</div>

<p>Flood of 1946, Palace Theatre Downtown Mandan</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/gone-forever/palace-theatre/220-1940-ad-the-sheik-retouch.jpg" alt="Historic image from the Palace Theatre page">
  </figure>
</div>

<p>A confection (i.e. candy) store was also located in the theater building. "The Palace of Sweets" sold cigars, magazines and candy, and was a very common retail store in the era. Frank Crisafulli, owner, stocked his store with "a complete stock of confections, dainties of all kinds, fruit, cigars, magazines, etc." according to the newspaper. The last movie shown, "The Ten Commandment" featuring Charleston Heston, occurred on October 27, 1957. Live events continued to be hosted at the venue through 1961. The building was eventually demolished in 1978 to become additional parking for the Wells Fargo bank. 1940 Ad Mandan Pioneer</p>
