<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/william-a-lanterman/225-william-a-lanterman-nd-banker-july-1918.jpg" alt="Portrait of William A. Lanterman">
  </figure>
</div>

<p>William “W. A.” Lanterman was born November 24, 1854, on a farm near Blairstown, New Jersey, to {% person "abraham-lanterman" %}Abraham{% endperson %} and {% person "jane-larue-lanterman" %}Jane LaRue Lanterman{% endperson %}. His siblings included brothers {% person "reuben-lanterman" %}Reuben{% endperson %} and {% person "albert-lanterman" %}Albert{% endperson %} and sisters {% person "retta-lanterman" %}Retta{% endperson %}, {% person "georgia-lanterman-shaw" %}Georgia Shaw{% endperson %}, {% person "ida-lanterman" %}Ida{% endperson %}, {% person "emma-lanterman" %}Emma{% endperson %}, and {% person "elizabeth-lanterman-staley" %}Elizabeth Staley{% endperson %}.</p>

<p>Lanterman attended Blair Presbyterial Academy and remained in Blairstown until age 20. In 1875, he joined two brothers in Fisher, Minnesota. He moved to Crookston in 1877, went to Canada to work for the Hudson's Bay Company two years later, and returned to the United States in 1881. He then joined his brother Albert in business in Hillsboro, Dakota Territory.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/william-a-lanterman/250-w-a-lanterman-bro-ad-1884.jpg" alt="1884 advertisement for W. A. Lanterman and Brother">
    <figcaption>Advertisement in the <em>Mandan Pioneer</em>, 1884</figcaption>
  </figure>
</div>

<p>In 1883, Lanterman moved to Mandan after purchasing a lumberyard from {% person "frederick-hager" %}Frederick{% endperson %}, {% person "robert-hager" %}Robert{% endperson %}, and {% person "joseph-hager" %}Joseph Hager{% endperson %}, builders of the InterOcean Hotel. Albert joined him the following year. By 1906, the brothers were associated with {% person "w-b-haight" %}W. B. Haight{% endperson %} in the lumber and machinery business.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/william-a-lanterman/708-downtown-haight-lumber-1904.jpg" alt="Haight lumberyard in eastern downtown Mandan in 1904">
    <figcaption>Eastern downtown Mandan, 1904</figcaption>
  </figure>
</div>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/william-a-lanterman/708-haight-lumber-ad-1906.jpg" alt="1906 advertisement for Haight's lumber business">
  </figure>
</div>

<p>Mandan leaders understood the economic stability a federal institution could provide. Many plants brought by Dakota settlers failed on the high prairie. Lanterman served with {% person "andrew-e-thorberg" %}A. E. Thorberg{% endperson %} and {% person "charles-lewis-c-l-timmerman" %}C. L. Timmerman{% endperson %} on a community committee that successfully lobbied Congress to establish the {% place "northern-great-plains-experiment-station" %}Northern Great Plains Research Laboratory{% endplace %} in Mandan in 1914.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/william-a-lanterman/409-morton-state-bank-cropped-1915.jpg" alt="State Bank of Morton County around 1915">
  </figure>
</div>

<p>Lanterman helped found the State Bank of Morton County in 1892 and served as its first president. He was also president of Mandan Loan &amp; Investment Company, vice president of First National Bank in New Salem, and president of the North Dakota Bankers Association's Missouri Slope District in 1918.</p>

<p>He led the Mandan Commercial Club, predecessor of the Chamber of Commerce, for many years and served on the Mandan Creamery and Produce Company board. In May 1901, he briefly partnered with {% person "c-f-ellis-sr" %}C. F. Ellis Sr.{% endperson %} in a real-estate, insurance, and loan agency. Ellis bought him out during the winter of 1901–02 and renamed the business the Ellis Agency.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/william-a-lanterman/275-w-lanterman-home-1906.jpg" alt="William Lanterman residence at 303 Third Avenue Northwest">
    <figcaption>Lanterman residence, 303 Third Avenue Northwest</figcaption>
  </figure>
</div>

<p>William, Albert, and Ellis constructed several of Mandan's larger homes. William's principal residence, built in 1901, stood at 303 Third Avenue Northwest. After William and Harriet moved to Glendale, California, in 1921, they subdivided the property and added a smaller house at 301 Third Avenue in 1923.</p>

<p>Lanterman married {% person "harriet-maria-shaw-lanterman" %}Harriet Maria Shaw{% endperson %} in Racine, Wisconsin, on March 22, 1886. They had four children: {% person "betty-bessie-larue-ripley" %}Betty “Bessie” LaRue Ripley{% endperson %}, {% person "eunice-c-ordway" %}Eunice C. Ordway{% endperson %}, {% person "alton-d-lanterman" %}Alton D.{% endperson %}, and {% person "horace-w-lanterman" %}Horace W.{% endperson %} Alton died in 1907 at age 13.</p>

<p>Lanterman was a Master Mason, a Presbyterian, and a Democrat. Harriet died in Los Angeles in March 1924. Early in 1925, William and his son Horace traveled around the world. Soon after returning to Mandan in May, William became ill. He slowly recovered but relapsed after immediately returning to work and died June 19, 1925. His funeral was held at First Presbyterian Church, and he was buried beside Harriet at Forest Lawn Memorial Park in Glendale.</p>
