<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/william-a-lanterman/225-william-a-lanterman-nd-banker-july-1918.jpg" alt="Historic image from the William A. Lanterman (1854-1925) page">
  </figure>
</div>

<p>William "W.A." Lanterman was born on a farm just outside of Blairstown, NJ on November 24, 1854 to New Jersey natives Abraham and Jane (LaRue) Lanterman. In addition to two brothers Ruben and Albert, he had at least five sisters, Retta, Georgia (Shaw), Ida, Emma and Elizabeth (Staley).William completed his education in the Blair Presbyterial Academy in Blairstown, NJ. Lanterman would reside there until he was 20 years old. He moved to Fisher in southern Minnesota in 1875 to join two brothers who were already there. William would move to Crookston in 1877 and immigrate to Canada two years later to join the Hudson Bay Company. In 1881, he would return to the US and settle in Hillsboro, Dakota Territory and join his brother Albert in business there.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/william-a-lanterman/250-w-a-lanterman-bro-ad-1884.jpg" alt="Historic image from the William A. Lanterman (1854-1925) page">
  </figure>
</div>

<p>1884 Mandan Pioneer Ad In 1883 he relocated to Mandan after purchasing a lumber yard from the three Hager brothers Frederick, Robert, and Joseph (who had completed construction of the InterOcean Hotel on Main St in Mandan). The following year, William was joined by his brother Albert.By 1906, both would also be associated with W.B. Haight in the lumber and machinery business.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/william-a-lanterman/708-downtown-haight-lumber-1904.jpg" alt="Historic image from the William A. Lanterman (1854-1925) page">
  </figure>
</div>

<p>1904 Photo of East Downtown Mandan</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/william-a-lanterman/708-haight-lumber-ad-1906.jpg" alt="Historic image from the William A. Lanterman (1854-1925) page">
  </figure>
</div>

<p>Early Mandan leaders understood the stability a Federal facility could bring to the area's economy. While the early Dakota settlers brought with them their favorite seeds and plantings for raising fruit, vegetables, grains and trees from their prior homes, many varieties did not do well in the high dakota prairie. Lanterman served on the Mandan Community Committee with A.E. Thorberg and C.L. Timmerman and successfully lobbied the U.S. Congress to establish the Northern Great Plains Research Laboratory in Mandan in 1914.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/william-a-lanterman/409-morton-state-bank-cropped-1915.jpg" alt="Historic image from the William A. Lanterman (1854-1925) page">
  </figure>
</div>

<p>William A. Lanterman was among the founders of the State Bank of Morton County in 1892 and served at the bank's first president. He is also president of the Mandan Loan &amp; Investment Company and vice president of the First National Bank at New Salem, ND. He also served as President of the Missouri Slope District of the ND Bankers Association in 1918.</p>

<p>He served as President of the Mandan Commercial Club (predecessor to the Chamber of Commerce) for many years, as well as on the board of directors of the Mandan Produce and Creamery Company (predecessor of Cloverdale Meats Company).W.A. Lanterman was also briefly in partnership with C. F. Ellis Sr. starting in May 1901. The offices of Real Estate Insurance and Loan were originally located in the State Bank of Morton County building. Ellis bought out Lanterman in the winter of 1901-1902, and would rename the business the Ellis Agency.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/william-a-lanterman/275-w-lanterman-home-1906.jpg" alt="Historic image from the William A. Lanterman (1854-1925) page">
  </figure>
</div>

<p>Lanterman Home at 303 3rd Ave NW William and his brother Albert as well as Ellis constructed several of the larger homes in the city. W. A. Lanterman's main residence was at 303 3rd Ave NW constructed in 1901. After the couple moved to Glendale, California in 1921, they subdivided their residential lot and added a smaller residence at 301 3rd Ave NW in 1923.</p>

<p>On the 22nd of March 1886, in Racine, Wisconsin, Mr. Lanterman was united in marriage to Harriet Maria Shaw (b. 22Mar1860 d. 9Mar1924). The couple had four children; Betty "Bessie" LeRue (wife of Edwin Arthur Ripley of Mandan and later Glendale, CA); Eunice C. (wife of William Ordway of Minneapolis, MN); Alton D. and Horace W., also a longtime resident of Mandan. Their eldest son Alton was born on February 11, 1893 but died on January 14, 1907, at the age of 13.</p>

<p>Mr. Lanterman was a Master Mason, while his religious faith was Presbyterian. Politically, he was a member of the Democratic Party.Harriet Lanterman died in March 1924 in Los Angeles where they were spending the winter. In early 1925, William was joined by his son Horace on a trip around the world. Upon his return to Mandan in early may, Lanterman took ill. But after slowly recovering over a period of a month, he "immediately plunged into active work" according to the newspaper report, and relapsed within a day of returning to work. He died the following day on June 19, 1925. His funeral was held at Mandan's First Presbyterian Church. His remains were transported to Glendale, California and buried beside his wife in Forest Lawn Memorial Park.</p>
