---
layout: layouts/page.njk
title: "Levon West / Ivan Dmitri (1900-1968)"
eyebrow: Biography
description: "Levon West was the third individual to be awarded ND's civilian highest honor - the Theodore Roosevelt Roughrider Award."
id: levon-west-ivan-dmitri
kind: person
section: biographies
order: 750
tags: records
legacyUrl: http://www.mandanhistory.org/biographiessz/levonwest.html
sourceFile: archive/source/mandanhistory-org.wacz
capturedAt: 2026-05-30T02:08:37Z
card:
  title: "Levon West / Ivan Dmitri (1900-1968)"
  meta: ""
  image: /assets/images/biographies/levon-west-ivan-dmitri/100-west-ndroughrider-portrait.jpg
  imageAlt: "Historic image from the Levon West / Ivan Dmitri (1900-1968) page"
---
<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/levon-west-ivan-dmitri/100-west-ndroughrider-portrait.jpg" alt="Historic image from the Levon West / Ivan Dmitri (1900-1968) page">
  </figure>
</div>

<p>Levon West was the third individual to be awarded ND's civilian highest honor - the Theodore Roosevelt Roughrider Award. Govenor William Guy presented him with the award on April 13, 1962. Gaining international fame for his sensitive portrayals in color photography, etchings and watercolors, West’s work has been exhibited in nearly every major art museum in the western world. Also known as Ivan Dmitri, Levon West gained international fame for his portrayals in color photography, etchings and watercolors.</p>

<p>Born in Centerville, SD, during his youth, West moved throughout North Dakota, as his father was a congressional preacher. After graduating from high school he taught school for a year and enlisted in the United States Navy. West was the recipient of a scholarship to the University of Minnesota where, although he was interested in art, he studied business administration.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/levon-west-ivan-dmitri/334-dmitri-ivan-portrait-with-gov-guy.jpg" alt="Historic image from the Levon West / Ivan Dmitri (1900-1968) page">
  </figure>
</div>

<p>c. 1962 Receiving Roughrider Award from Gov. Guy Printmaker, photographer. Levon West was Dmitri's given name, which he changed to Ivan Dmitri at the time he changed careers from printmaking to photography.West gained recognition as an artist upon the publication of his etching “The Spirit of St. Louis”, when Charles Lindbergh arrived in Paris. His etchings were soon in great demand. He also gained recognition as a photographer and, in order to separate his two artistic fields, West took the name of Ivan Dmitri for his photographic work. Dmitri founded Photography in the Fine Arts in 1959.</p>

<p>Levon West was an etcher, painter, photographer, writer and teacher. As a photographer, he used the name “Ivan Dmitri.” Born in North Dakota, he graduated from the University of Minnesota in 1924 and studied at the Art Student’s League and with J. Pennell the following year. West was a member of the Society of American Etchers and the American Institute of Graphic Arts, and published at least two instructional books, including Making an Etching (1930). By the 1940s, his work was in the collections of the Philadelphia Museum of Art, the New York Public Library, the Brooklyn Museum, the Havemeyer Collection of the Metropolitan Museum of Art, and many others. He was represented by Kennedy Gallery in New York City.</p>
