---
layout: layouts/page.njk
title: "Margaret \"Peggy\" Ann [Reichmuth] Schaaf (1954-2006)"
eyebrow: Biography
description: "Margaret Ann Reichmuth was born on January 14, 1954 in St. Louis Park, MN. She is the daughter of Robert and Albina \"Bea\" (Borho) Reichmuth, Sr."
id: margaret-peggy-ann-reichmuth-schaaf
kind: person
section: biographies
order: 760
tags: records
legacyUrl: http://www.mandanhistory.org/biographiessz/margaretschaaf.html
sourceFile: archive/source/mandanhistory-org.wacz
capturedAt: 2026-05-30T01:27:19Z
card:
  title: "Margaret \"Peggy\" Ann [Reichmuth] Schaaf (1954-2006)"
  meta: ""
  image: /assets/images/biographies/margaret-peggy-ann-reichmuth-schaaf/165-schaaf-peggy-youth-dr-cntrst.jpg
  imageAlt: "Historic image from the Margaret \"Peggy\" Ann [Reichmuth] Schaaf (1954-2006) page"
---
<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/margaret-peggy-ann-reichmuth-schaaf/165-schaaf-peggy-youth-dr-cntrst.jpg" alt="Historic image from the Margaret &quot;Peggy&quot; Ann [Reichmuth] Schaaf (1954-2006) page">
  </figure>
</div>

<p>Margaret Ann Reichmuth was born on January 14, 1954 in St. Louis Park, MN. She is the daughter of Robert and Albina "Bea" (Borho) Reichmuth, Sr. She grew up with her younger brother Robert, Jr. and sister Jane in St. Louis Park. Another sister, Mary, died in infancy. She attended Most Holy Trinity School until 1968 when the family moved to Bismarck. Peggy graduated from St. Mary's High School in 1972.In college she majored in music and minored in French, including one semester studying in France. She completed her baccalaureate in arts degree at the University of Mary in 1976. Upon graduation she worked as a recruiter for the University of Mary, but subsequently joined the staff at Eckroth's Music Store.</p>

<p>Eventually she accepted a more direct role in children's lives, and served at the music teacher at Christ the King Grade School for many years. The community recognized her as the most outstanding teacher in the city of Mandan by presenting her with the Golden Apple Award.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/margaret-peggy-ann-reichmuth-schaaf/274-schaaf-wedding-photo.jpg" alt="Historic image from the Margaret &quot;Peggy&quot; Ann [Reichmuth] Schaaf (1954-2006) page">
  </figure>
</div>

<p>Peggy was as a charter member of the Bismarck-Mandan Symphony, performed with the orchestra for over 25 years and ultimately as its principal percussionist. She also performed with the West River Winds and the Bismarck-Mandan Wind Ensemble during the period. She served her parish at Christ the King Catholic Church as its choir director, singing and playing at countless weddings and funerals.Peggy met David Schaaf while both were playing in The Symphony and Bismarck's Harold Kepler's summer bands. On July 25, 1980, Peggy married Dave and the couple was eventually blessed with three children, a son Andrew and daughters Alison and Amy.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/margaret-peggy-ann-reichmuth-schaaf/334-schaaf-bandnight-cropped.jpg" alt="Historic image from the Margaret &quot;Peggy&quot; Ann [Reichmuth] Schaaf (1954-2006) page">
  </figure>
  <figure>
    <img src="/assets/images/biographies/margaret-peggy-ann-reichmuth-schaaf/334-schaff-japan-nov-cropped.jpg" alt="Historic image from the Margaret &quot;Peggy&quot; Ann [Reichmuth] Schaaf (1954-2006) page">
  </figure>
</div>

<p>Peggy was involved with the national teaching sorority Delta Kappa Gamma and Prairie Winds Orff which facilitated many wonderful acts for her fellow teachers. Delta Kappa Gamma awarded her a grant, as did the American Orff-Schulwerk Association. The Fulbright Memorial Fund awarded her the trip of a lifetime consisting of a 20 day tour to Japan.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/margaret-peggy-ann-reichmuth-schaaf/90-girl-scout-logo.jpg" alt="Historic image from the Margaret &quot;Peggy&quot; Ann [Reichmuth] Schaaf (1954-2006) page">
  </figure>
  <figure>
    <img src="/assets/images/biographies/margaret-peggy-ann-reichmuth-schaaf/90-thankyouballoon.jpg" alt="Historic image from the Margaret &quot;Peggy&quot; Ann [Reichmuth] Schaaf (1954-2006) page">
  </figure>
</div>

<p>Yet family, music and a teaching career was not enough opportunity to serve. Peggy served as a Girl Scout troop leader, as a Field Executive and eventually as a Sakakawea Council Board Member. The Girl Scouts presented her with a “Thanks Badge” in appreciation of her decades of volunteer service. She led her life as a model of the Girl Scout Oath and Laws.</p>

<p>While music was the central theme to her life, she is credited with a wide range of other roles; from chief driver in Mom's Chauffer Service, to lead florist of the home rose garden and promoter of Art in the Park and other outdoor public gatherings in Mandan. Throughout her life, Peggy was of great service to her family, church, the Girl Scouts, the music community, her fellow teachers and students. Margaret died on August 5, 2006 of cancer and is buried in Mandan Union Cemetery. The Mandan Historical Society would like to thank Bea Reichmuth, sister-in-law Gretchen as well as David Schaaf and Amy, Alison and Andy for sharing memories, family photographs and biographical information on Peggy with us.</p>
