---
layout: layouts/page.njk
title: "Mary Kathleen [Broderick] Harris (1925-2018)"
eyebrow: Biography
description: "Mary Kathleen Broderick was born on May 12, 1925 to Leo and Genevieve (Metcalf) Broderick. Her father was a state district judge and longtime attorney in Mandan."
id: mary-kathleen-broderick-harris
kind: person
section: biographies
order: 340
tags: records
legacyUrl: http://www.mandanhistory.org/biographiesdl/maryharris.html
sourceFile: archive/source/mandanhistory-org.wacz
capturedAt: 2026-05-30T00:37:35Z
card:
  title: "Mary Kathleen [Broderick] Harris (1925-2018)"
  meta: ""
  image: /assets/images/biographies/mary-kathleen-broderick-harris/150-mary-harris-2003-cropped.jpg
  imageAlt: "Historic image from the Mary Kathleen [Broderick] Harris (1925-2018) page"
---
<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/mary-kathleen-broderick-harris/150-mary-harris-2003-cropped.jpg" alt="Historic image from the Mary Kathleen [Broderick] Harris (1925-2018) page">
  </figure>
</div>

<p>Mary Kathleen Broderick was born on May 12, 1925 to Leo and Genevieve (Metcalf) Broderick. Her father was a state district judge and longtime attorney in Mandan. She was the fifth of six children born to the couple. Her siblings included Jane, William, John, Margie and Florence. Growing up in west central Mandan, much of her childhood play was in and around the Heart River. She attended St. Joseph's Elementary and graduated from Mandan High School in 1944.</p>

<p>She relocated to the Twin Cities to attend the Minneapolis School of Art for 3 years focusing on oil painting. Upon graduation, she returned to Mandan and worked at the ND Highway Department while pursuing her art career on a part-time basis. Recognizing opportunities as an artist were limited in North Dakota, she moved to San Francisco. But successful female artists were an exception and not the rule in the late 1940s. She returned to Mandan after 18 months and worked for the ND State Tax Department. Her last venture from North Dakota was to Denver where she attended Regis College, but she returned to the state for good in December 1952.After a temporary job as a substitute teacher, she joined the staff of Thomas W. Leach and his North American Royalties Company. Leach, a surface geologist, did more than anyone to persuade the major oil companies to explore for oil in the Williston Basin.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/mary-kathleen-broderick-harris/150-tioga-oil-field-1952-kms.jpg" alt="Historic image from the Mary Kathleen [Broderick] Harris (1925-2018) page">
  </figure>
</div>

<p>Mary leveraged her ground-floor involvement in North Dakota's oil industry to secure a position with the Petroleum Information Service where she reported news items from the area. As her journalism skills flourished, so did her relationship with Steven H. Harris, a founding partner in the consulting geologist firm of Harris, Brown and Klemer, Inc. She subsequently worked for Sun Oil Company, performed record searches as a landman for the Pimco Oil Company of Wyoming and served as a reporter for The Rocky Mountain Oil Reporter for 9 years before becoming a full-time homemaker and mother.</p>

<p>Mary and Steve married in October 1955. While her husband was busy helping to establish the oil industry in the state, Mary was active in the Petroleum Wives Club. This group sponsored many social and charitable events, including the annual Fifty's Follies Shows at the Bismarck World War Memorial Building in the 1950s. She pushed agains one of the "glass ceilings" in North Dakota, applying for membership in her own right to the exclusive ND Petroleum Club. She was told to take comfort each year as the members' vote became ever closer to allowing women membership in the group.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/mary-kathleen-broderick-harris/330-steve-and-mary-harris.jpg" alt="Historic image from the Mary Kathleen [Broderick] Harris (1925-2018) page">
  </figure>
</div>

<p>Together, Mary and Steve reared 5 children; Bruce, Steven Jr., Terry, Wayne and Genevieve. In between her other commitments, the couple traveled to worldwide destinations in support of Steve's geological career. But as their children moved on to their own pursuits, Mary turned her talents to community involvement and researching area historical events.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/mary-kathleen-broderick-harris/329-tara-house.jpg" alt="Historic image from the Mary Kathleen [Broderick] Harris (1925-2018) page">
  </figure>
</div>

<p>At the urging of Ernie Fleck, Mary purchased and restored the Stuart Dunlap Home at 201 7th Ave NW in Mandan. Constructed in 1904 by Stuart &amp; Martha Dunlap, its original street address was 201 Mitchell Avenue. As one of her most notable projects, Mary led the effort to list the home in 1992 on the National Register of Historic Places. She outfitted the home with Victorian period furniture and various souvenirs of her world-wide travels. Public tours of the home were held on multiple occasions by the Mandan Historical Society.</p>

<p>During retirement, she continued to work on her golf game, although she was unable to repeat her performance as the Lady Apple Tournament Golf Champion in 1964. In addition to her involvement as a charter &amp; life member of the Mandan Historical Society and serving on its Board of Directors, she was active in her church and served as a trustee to the State Historical Society of North Dakota Foundation. Mary passed away on February 11, 2018 in Bismarck. She is buried in Union Cemetery, Mandan.</p>
