---
layout: layouts/page.njk
title: "Richard L. Baron (1921-2007)"
eyebrow: Biography
description: "Richard Baron was born September 9, 1921 in Mandan to Joseph and Philippine (Mushik) Baron. He grew up with his one brother, George."
id: richard-baron
kind: person
section: biographies
order: 50
tags: records
legacyUrl: http://www.mandanhistory.org/biographiesac/richardbaron.html
sourceFile: archive/source/mandanhistory-org.wacz
capturedAt: 2026-05-29T23:31:28Z
card:
  title: "Richard L. Baron (1921-2007)"
  meta: ""
  image: /assets/images/biographies/richard-baron/140-portrait-color.jpg
  imageAlt: "Historic image from the Richard L. Baron (1921-2007) page"
---
<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/richard-baron/140-portrait-color.jpg" alt="Historic image from the Richard L. Baron (1921-2007) page">
  </figure>
</div>

<p>Richard Baron was born September 9, 1921 in Mandan to Joseph and Philippine (Mushik) Baron. He grew up with his one brother, George. He attended St. Joseph's Elementary School. Dick graduated from Mandan High School in 1939 and subsequently attended North Dakota State University - Fargo. He moved to California and worked at Lockheed Aircraft Manufacturing before returning to North Dakota. He enrolled at Bismarck Junior College where he received his civilian commercial pilot's license and flew with the Civil Air Patrol.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/richard-baron/200-with-p-47.jpg" alt="Historic image from the Richard L. Baron (1921-2007) page">
  </figure>
</div>

<p>Upon the start of World War II, he joined the Army Air Force where he earned his Air Force Wings in 1943. Eagle Squadrons, originally comprised of US pilots assigned to the British Air Force prior to our entry into the war had by this time been reassigned to the USAAF and were flying P-47 Thunderbolt fighters. Eventually assigned to the European Theater of operation and based in England, he flew 80 missions over the 2 months preceding D-Day.</p>

<p>Dick had a passion for flying. After returning from the war, he openned an airfield between Bismarck and Mandan, and put on air shows, offered chartered flights and flight instruction. He later worked for a distributing company flying across the United States, Canada and Mexico. Dick remained in the Air Force Reserve, flying in Bismarck and Minot. After 39 years of active and reserve service, he retired as a Lt. Colonel.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/biographies/richard-baron/200-baron-wedding.jpg" alt="Historic image from the Richard L. Baron (1921-2007) page">
  </figure>
</div>

<p>His return to the area also marked the start of another phase in his life. Richard and Marianne Stebner married on December 16, 1943 in Mandan while in the Army Air Force but before being deployed to the war. Richard had boasted that their relationship had started back in first grade when they had held hands. Together they had three children; one daughter Nanette and two sons William and Wayne.They also collaborated in business. They opened and ran Men's Mart clothing store in Mandan as well as two ladies apparel stores, one in Mandan and Marianne's Ltd in Bismarck. As retailers, both had the opportunity to travel. Their trips included stops in Germany and Russia which supported their active involvement in the local association of German's from Russia.</p>

<p>Between their other activities, they also participated in various civic organizations including Rotary Club and the North Dakota Republican Party. He was also a long-time member of the Chamber of Commerce, serving as its President starting in 1960. Dick served on the Morton County Park Board for 35 years including most of those years as chairman. He was an avid outdoorsman and enjoyed both hunting and fishing. In retirement, both he and his wife served as advisors to start up businesses under the US Small Business Administration's SCORE program. Dick was also a life and charter member of the Mandan Historical Society and served on its Board of Directors.He died on October 7, 2007 at the age of 86. He and his wife Marianne are buried in Union Cemetery, Mandan.</p>
