<p>Mandan, and North Dakota as a whole, experienced a significant turnaround from the Great Depression and Dust Bowl, driven by a booming wartime economy, federal construction projects, and the expansion of rural electrification. And major events occurred in the city.</p>

<h3>1940</h3>

<p>In February, four Morton County area night club operators were each fined, paying $25 for each count of either Sabbath breaking and/or operating a dance on Sunday. Mike Guon was fined on both accounts. Joe Wetzstein, Charles Hawley and Irvin Young were each fined for a single violation.</p>

<h3>1941</h3>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1940s/259-1941-may-collins-courthouse-fire-koppy-mhsoc.jpg" alt="Historic image from the The Forties - War and Post War Boom 1940-1949 page">
  </figure>
</div>

<p>On May 15, the <a href="/places/gone-forever/collins-street-county-courthouse/">Morton County Courthouse</a> located on north Collins Avenue and built in 1885 was completely destroyed by fire. The blaze began at 5:00 PM when residents noticed smoke rolling from the upper windows and roof. At the time, the county commissioners were still in session and were unaware of the fire. Even with the rapid response by the city's fire department, it was apparent the building would not be able to be saved. Efforts focused on protecting the adjacent jailhouse and sheriff's residence.</p>

<p>Outside of the of the records stored in fireproof vaults, only two adding machines and a few law books were saved. The building was insured for $60,000 ($1,320,000 2025$). Mandan recorded its second highest daily high temperature 109⁰F in August 5, 1941 at 2:00 PM at the weather bureau at the USDA Northern Great Plains Field Station research center.</p>

<h3>1942</h3>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1940s/250-cafe-ad-1942.gif" alt="Historic image from the The Forties - War and Post War Boom 1940-1949 page">
    <figcaption>Mandan Pioneer Newspaper Ad 1942</figcaption>
  </figure>
</div>

<p>Among a surge of new cafe openings in early 1942, Ernie Rober and his wife opened the Uptown Cafe at 412 West Main Street, just west of the Lewis and Clark Hotel and across the street from the train depot. It is located in a new two-story tile and brick building built specifically for the purpose including all new funiture and equipment. The business seats 50 patrons. The chief chef was Brent Grant. (The building has hosted a series of taverns and eateries, including most recently the Roundup Bar and the current West Side Grill.)</p>

<p>Despite calls by the US Department of Defense to cancel all state and county fairs in support of the war effort to save tire rubber, the Mandan Rodeo Association responded "The Show Must Go On" and held the Fourth of July event as scheduled. More than 20,000 paid admissions were already in hand for the three day event. The largest crowd to date for the parade witnessed the marchers under clear skys and perfect 75 degree temperatures.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1940s/140-camp-map-normalized.jpg" alt="Historic image from the The Forties - War and Post War Boom 1940-1949 page">
  </figure>
</div>

<p>&lt;Click to Enlarge&gt; In late July, the last of the enrollees of the 260 Veterans Civilian Conservation Corps camp received their discharge this week after nearly eight years of continuous service. Opened in August 1934, camp workers were first used by the State Park Service and did much work of erecting buildings and landscaping at the Fort Abraham Lincoln State Park, south of Mandan. V2775 Camp Highlights by A-Olson</p>

<p><a href="/assets/documents/area-history/ccc-v2775-arley-olson-article.pdf">V2775 Camp Highlights by A-Olson</a></p>

<h3>1944</h3>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1940s/708-sketch-vc2-victory-ship.jpg" alt="Historic image from the The Forties - War and Post War Boom 1940-1949 page">
    <figcaption>Sketch of Victory Ship Class VC2</figcaption>
  </figure>
</div>

<p>On May 26, 1944, Mandan joined a total of 218 American cities and towns with the honor of a "Victory Ship" named after it (Victory ships were "faster" versions of Liberty Ships.) The SS Mandan Victory was a VC2-S-AP3 launched by the Oregon Shipbuilding Corporation of Portland, OR and was added to the US Merchant Marine to support the war effort. Devils Lake and Dickinson also had a Victory Ship named after them.</p>

<h3>1945</h3>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1940s/708-1945-photo-train-derailment-of-negro-soldiers.jpg" alt="Historic image from the The Forties - War and Post War Boom 1940-1949 page">
    <figcaption>1945 Lyon Troop-Train Derailment</figcaption>
  </figure>
</div>

<p>On February 20 at 5:20 PM, an east-bound 12-car troop train carrying a battalion (approximately 300) of African-American soldiers derailed 2 miles west of Lyons (i.e., 11 miles west of Mandan.) Ten coaches derailed injuring over 100 individuals, including five in critical condition. Only the engine and the rear two coaches remained upright. The injured were taken to area hospitals. The troops were quartered in the Mandan Memorial Building (today's City Hall.) Bedding and other materials were sent from Fraine Barracks. Meals were served in the Knights of Columbus Hall. The Mandan Red Cross also provided support with the effort.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1940s/222-1945-war-ends.jpg" alt="Historic image from the The Forties - War and Post War Boom 1940-1949 page">
  </figure>
</div>

<p>Residents celebrated with the rest of the nation when World War II ended on August 14 with Japan's agreement in principle to unconditional surrender. More than 64,000 North Dakotans served in the armed forces during the war, while thousands more moved to cities to work in war-related industries. An estimated 700 men and women from Mandan served in the Armed Services during this period.</p>

<p>The war also temporarily halted the construction of new electric lines, as materials were needed for the war effort. Following the war, the Rural Electrification Administration (REA) could focus its efforts to bring power to rural areas. Local cooperatives were formed, and construction began in earnest, with the first homes receiving power in 1946.</p>

<h3>1946</h3>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1940s/229-1946-champ.jpg" alt="Historic image from the The Forties - War and Post War Boom 1940-1949 page">
    <figcaption>Aeronca Champ</figcaption>
  </figure>
</div>

<p>In May, Jim Myers and Dick Baron, both WWII veteran pilots, leased about 50 acres 1.5 miles east of Mandan on the north side of Highway 10 from Mrs. Blossom [Lang] McGillic and established the Missouri Valley Aviation School. They gave rides as well as flying lessons, provided charter service and field dusting. Aircraft based there included a new 1946 Aeronca Champ and Taylorcraft BC-12 Traveler.</p>

<h3>1947</h3>

<p>Extreme cold winter weather in February caused a record demand for natural gas. Two schools were temporarily closed to reduce load. Montana Dakota Utilities asked residents to cut the temperatures in their homes as much as possible to help their overburdened distribution system cope with the demand for natural gas.</p>

<h3>1949</h3>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1940s/252-farmers-elevator.jpg" alt="Historic image from the The Forties - War and Post War Boom 1940-1949 page">
  </figure>
</div>

<p>Mandan’s new gleaming white Farmers Union elevator at 211 East Main St. has opened in late August for the fall harvest. President of the Farmers Union group was L. F. Zander; Earl Schauss as Secretary-Treasurer; and Otto Hagerott, Ted Hagerott and Elias Ellison as members of the board of directors. The first receipt of wheat to the elevator came from the Zander farm. The first wheat received from the 1949 harvest weighed 60 lbs. and graded No.1 Hard Dark Northern, arrived from the John Keller farm. Elevator manager is John Calvin from Rawson in McKenzie County. He and his wife and young son temporarily resided in a small trailer near the elevator. Note: This elevator burnt to the ground in the 1970's.</p>
