<p>Havana Club, a basement nightclub for years, built its success on its wonderful reputation for food, service, ambiance. Like the Hotel McKenzie/Patterson Hotel in Bismarck, it was a place where many a political, business (legal and otherwise!) deals took place. Leo Guon left the business to his son when he died in November 1961, but he was not as enthusiastic about the food and service industry as his father. Lacking much oversite, the business' reputation deteriorated. Finances became tight, FICA taxes were not paid and the IRS closed the club in July of 1964.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/gone-forever/havana-club/708-havana-club-interior.jpg" alt="Historic image from the Havana Club page">
  </figure>
</div>

<p>Havana Club Interior - Photo Courtesy of Esther Davis</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/gone-forever/havana-club/200-havana-club-token.jpg" alt="Historic image from the Havana Club page">
  </figure>
  <figure>
    <img src="/assets/images/gone-forever/havana-club/261-havana-club-ad.jpg" alt="Historic image from the Havana Club page">
  </figure>
</div>

<p>1956 Ad</p>

<p>Barry and Esther Davis bought the Havana Club and reopened it on September 14, 1964. They had been approached by interested parties, including creditors, who wished the establishment to remain open and assisted with the deal's financing. Barry Davis had provided muscial entertainment at the site for years, and Esther had worked as a food hostess at another local nightclub.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/gone-forever/havana-club/295-seven-seas-downtown.jpg" alt="Historic image from the Havana Club page">
  </figure>
</div>

<p>With its prior decline, the Davises needed to put some distance between the Havana Club's tarnished reputation and its new ownership, management and operation. They remodeled the interior including the addition of a miniature waterfall, fish tanks and koi (e.g. broaded carp) to the waterfall's pool. They also ran a contest to rename the club and that is how it became the Seven Seas. Aided by area friends to helped to promote the club, patrons slowly returned. Its warm atmosphere also attacted area businesses to host luncheon meetings and other gatherings there. These same businessmen and professional clientle would returned in the evenings. Friday and Saturday evening dinners eventually rose from 10-12 a night to 165-175 over a 4 year period. Photo Courtesy of Esther Davis</p>

<p>The biggest event held at the club was the annual New Year's Eve parties. While the capacity crowds would always bring a hectic pace, the owners shared a champagne toast with the kichen and service crews at midnight to acknowledge their hard work that evening. The operation remained at its downtown location until the building was destroyed by fire in 1970.</p>

<p>The Society would like to thank Esther Davis for contributing to this feature article.</p>
