<p>The 1912 U.S. presidential election was contested by three major candidates. Incumbent President {% person "william-howard-taft" %}William Howard Taft{% endperson %} was renominated by the Republican Party with the support of its conservative wing. Although Taft was {% person "theodore-roosevelt" %}Theodore Roosevelt's{% endperson %} handpicked successor, his performance in office failed to satisfy Roosevelt's political supporters, including former Mandan mayor {% person "henry-waldo-coe" %}Henry Coe{% endperson %}. After Roosevelt failed to secure the Republican nomination, he called his own convention and created the Progressive Party, nicknamed the "Bull Moose Party."</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1912-theodore-roosevelt-whistle-stop/210-tr-on-train.jpg" alt="Historic image from the October 1912 Theodore Roosevelt Whistle Stop page">
  </figure>
</div>

<p>Roosevelt made a short campaign stop in Mandan after arriving on the evening No. 5 train on October 4. He addressed a large crowd assembled at the depot. During the preceding days, the "Bull Moose" leader had also made speaking stops in Grand Forks, Fargo, Jamestown, and Bismarck. After the train stopped near the depot, Roosevelt appeared on the rear platform and began speaking about the new movement represented by the Progressive Party. He then spotted {% person "charlie-rowe" %}Charlie Rowe{% endperson %}, one of his ranch employees from the 1880s, and summoned him onto the platform. Roosevelt slapped him on the back with a "Hello, Charlie" and told the crowd about incidents from his ranching days in western North Dakota.</p>

<p>Twenty minutes later, the locomotive began to build steam for the next leg of the journey west. "Teddy" called out his goodbyes, saying that he was truly glad to be back in a region where a man was accepted for what he was worth and that he would always have a warm place in his heart for the sturdy manhood of the West. Roosevelt waved his hat to the crowd as the train slowly gathered speed for Dickinson.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1912-theodore-roosevelt-whistle-stop/319-presidential-candidates.jpg" alt="Historic image from the October 1912 Theodore Roosevelt Whistle Stop page">
  </figure>
</div>

<p>With the Republican Party split in the three-way race, {% person "woodrow-wilson" %}Woodrow Wilson{% endperson %} defeated both Taft and Roosevelt in the general election. Wilson became the only Democratic president elected between 1892 and 1932. It was also the last election in which a candidate who was neither a Republican nor a Democrat placed second in either the popular vote or the Electoral College.</p>
