<p>The earliest years of the 20th century were marked by rapid population expansion and the establishment of city services and infrastructure.</p>

<h3>1900</h3>

<p>The new McCadam boarding house opened in the 800 block of West Main Street. The building remained there until August 1960, when it was moved west of town along old Highway 10 and became the home of the {% person "donald-briese" %}Donald Briese{% endperson %} family.</p>

<h3>1903</h3>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1900s/147-1903-tr-visit-ah.jpg" alt="Historic image from the The Arch Decade of the Century 1900-1909 page">
  </figure>
</div>

<p>President {% person "theodore-roosevelt" %}Theodore Roosevelt{% endperson %} embarked on a nine-and-a-half-week journey across the western half of the country in April 1903. Roosevelt wanted to personally talk to people and give an account of his previous term in office. <a href="/area-history/1903-theodore-roosevelt-visit/">Mandan was one of five stops in North Dakota</a>. He spoke from a stand erected on the north side of the depot especially for the occasion. After completing his speech, Roosevelt returned to his railcar and was joined by three past area friends for the train ride to Medora.</p>

<h3>1908</h3>

<h3>1909</h3>

<p>The rail line south of Mandan was under construction. It was completed the following summer despite a heavy mosquito infestation.</p>

<p>The Topic Theater, located one block west of the InterOcean Hotel, installed an electric sign to promote its nightly variety shows. The venue presented moving pictures accompanied by the local Imperial Orchestra. Other acts included {% person "fredric-the-great-magician" %}Fredric, the Great Magician{% endperson %}; {% person "miss-lamable" %}Miss LaMable{% endperson %}, the Great Serpentine Dancer; and {% person "jack-symonds" %}Jack Symonds{% endperson %}, the Tramp Monologist. In October 1909, Taylor Drug Co., located at 104 West Main Street, displayed its numbered prescriptions from 1 through 64,308, filled since the business was established in 1881. The store also displayed photographs taken during the city's infancy, including images of the old depot on the east end of town and numerous views of the early business district.</p>
