<p>Today, most people take for granted the ability to order small items online from websites such as Amazon or eBay. Even large brick-and-mortar retailers such as Walmart and Target conduct significant e-commerce through their websites. Before the internet, mail order was a common way to purchase items for home delivery. But imagine ordering an entire house for delivery. Mandan experienced three periods of explosive growth in its history. One, following completion of the automobile bridge over the Missouri River, coincided with a nationwide surge in the popularity of mail-order homes.</p>

<p>Sears, Roebuck and Company, now known simply as Sears, conducted a brisk mail-order business. Sears and its competitors were significant suppliers to rural U.S. communities where local sales volumes could not support large retail stores. Printed catalogs, originally in black and white and eventually transformed into oversized, glossy color books, depicted practically anything available—from clothing and appliances to spinning wheels and farm tools.</p>

<p>Precut lumber, windows, shingles, hardware, nails, and other materials were included and shipped directly to customers by rail.</p>

<p>From 1908 through 1940, Sears sold more than 70,000 house kits nationwide under the "Modern Homes" brand, offering 447 designs. Customers could choose among styles and quality levels to suit their tastes and budgets. Kits included all precut lumber and necessary hardware, while options within each design allowed buyers to individualize their homes. Central heating, indoor plumbing, and electricity were new developments in housing. Mass production made these conveniences, which are taken for granted today, available at a much lower cost than in traditionally built homes.</p>

<p>More than 30 of these homes remain in Mandan, generally north of West Main Street and centered around Sixth Avenue NW. More information about the designs and Sears, Roebuck and Company's operation during this era is available from the <a href="http://www.searsarchives.com/homes/">Sears Archives</a>.</p>
