<p>Most today take for granted ordering small items online from websites such as Amazon or eBay. Even large "brick and mortar" retailers such as Walmart and Target have significant eCommerce sales volumes through their respective websites. Before the internet, "mail-order" was commonplace for purchasing items for delivery to one's home. But imagine, ordering an entire home for delivery. Mandan experienced explosive growth during 3 periods in its history to date. One such event, upon completion of automobile bridge over the Missouri River, coincided with the surge in popularity of "mail order homes" nationwide.</p>

<p>Sears, Roebuck Company (today known simply as "Sears") was doing a brisk business in its mail order division. They, along with their competitors, were a significant supplier to rural communities in the US where local sales volumes could not justify a large retail store. Hard copy catalogs, originally in black and white and eventually morphing into oversized color glossy books, depicted practically anything available; from clothes and applicances to spinning wheels and farm tools.</p>

<p>Precut lumber, windows, shingles, hardware, nails... were all included and shipped directly to the customer by railroad.</p>

<p>From 1908 through 1940 and carrying the brand "Modern Home," Sears sold over 70,000 of these house kits nationwide using 447 different designs. Customers could choose between different styles and quality to suit their tastes and monetary budget. Kits came complete with all the pre-cut lumber and necessary hardware but several options were available within each desgin to individualize each home. Centralized heating, indoor plumbing and electricity were all new developments in housing. The economic advantage to mass produce these convenenices, which we take for granted today, could be offered at a far lower cost than traditionally built homes.</p>

<p>Over 30 of these home remain in Mandan today, generally located north of West Main Street, centered around 6th Avenue NW. Additional information on the specifics of these home designs and operation of Sears, Roebuck and Company during this era can be found on multiple websites, including <a href="http://www.searsarchives.com/homes/">http://www.searsarchives.com/homes/</a></p>
