<p>As with the majority of the country, the 1920s brought growth and prosperity to Mandan. The most significant event, the first automobile bridge across the Missouri River in the Dakotas in 1922, prompted a surge of commercial development in downtown Mandan. While North Dakota was a "dry" state since it joined the Union in 1889, many told and untold events were associated with alcoholic beverages in Mandan.</p>

<h3>1920</h3>

<p>President of the Mandan City Commission (i.e., mayor) H. L. Henke was narrowly re-elected to the position. He overcame his two challengers Dr. A.O. Henderson and William Peterson. Similiarily, the other two open seats on the commission were heatily contested with only 10 votes separating the top three candidates. J.B. Fredericks and William McDonald were declared the winners once the vote count was completed.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1920s/100-1974-mandan-beverage-bldg.jpg" alt="Historic image from the The Roar of the Twenties 1920-1929 page">
  </figure>
</div>

<p>In April, H. H. "King" Williams opened two businesses. A cigar stand was established in the lobby of the Lewis &amp; Clark Hotel to satisfy demand of travelers stepping across the street from the depot looking to enjoy a good cigar. He had recently returned from the Twin Cities after purchasing plans and machinery for a soda bottling factory. Production would begin later that year at the former Commerical Hotel building at 316 &amp; 318 East Main Street.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1920s/288-post-fire-photo.jpg" alt="Historic image from the The Roar of the Twenties 1920-1929 page">
  </figure>
</div>

<p>On August 20, a fire destoryed the second floor of the NP Railway passenger depot on West Main Street. The fire started in the telegraph battery room, likely due to faulty wiring igniting the "off-gas" (i.e., hydrogen) from the wet battery cells.</p>

<p>While the fire was quickly extingushed by the fire department volunteers and the railroad staff, major repairs to the building were required. Local businessmen pushed immediately for construction of a entirely new building, to keep up with the newer depot recently built in Bismarck.</p>

<h3>1921</h3>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1920s/100-ctz-clock.jpg" alt="Historic image from the The Roar of the Twenties 1920-1929 page">
  </figure>
</div>

<p>In April, over 100 members of the Mandan Commercial Club voted unanimously for a permanant change for the city to move from Mountain to Central time. A committee was appointed to present the proposal to the City Commission.</p>

<p>In August, robbers failed to blow open the vault at the Mandan Post Office despite the use of nitroglycerine. Only the postmaster's .45 caliber Colt revolver, purchased only 2 months prior to possibly thwart the series of robberies occuring across the nation, was stolen. The damaged vault door was opened the following Monday morning with an electric drill by Frank Roby, proprietor of the Roby Machine Shop. Postmaster Foran found all the money and stamps still intact inside the vault. Two employees, Miss Madell Motsiff and Miss Marian Keidel, resigned their part-time positions at the post office only days later.</p>

<h3>1922</h3>

<p>The largest project funded by the US Congress in 1919, the <a href="/places/landmarks/liberty-memorial-bridge/">Liberty Memorial Bridge</a> was dedicated on September 19 to the veterans of World War I. The automobile bridge linked the cities of Mandan and Bismarck, and was the final piece to complete the first transcontential highway, without the use of ferries for river crossing, along the entire National Parks Highway system.</p>

<h3>1923</h3>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1920s/334-1923c-june-std-oil-stn.jpg" alt="Historic image from the The Roar of the Twenties 1920-1929 page">
  </figure>
</div>

<h3>1924</h3>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1920s/165-crescent-tr-statute-pc.jpg" alt="Historic image from the The Roar of the Twenties 1920-1929 page">
  </figure>
</div>

<p>The <a href="/places/landmarks/rough-rider-statue/">Roughrider statue</a> depicting Theodore Roosevelt was dedicated on July 2. Dignitaries including members of the Roosevelt family and high level politians from throughout the state attended. The statue was donated by Mandan's first mayor Henry Waldo Coe who was a life-long friend of Roosevelt.</p>

<h3>1926</h3>

<h3>1929</h3>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1920s/214-douglas-dt-army-bomber.jpg" alt="Douglas DT U.S. Army bomber">
    <figcaption>Douglas DT Army Bomber</figcaption>
  </figure>
</div>

<p>In March, spring flooding concerns were addressed with an unprecedented response. Masses of floating ice filled the river channel for over 80 miles. Key ice pile-ups were noted at Harmon (10 miles north of Mandan) and Huff (20 miles south of Mandan.) Attempts to break them up with dynamite was unsuccessful. When several northern ice dams broke and joined the jam immediately north of the city, the probability of a catastrophic outcome demanded more action.</p>

<p>When the river rose 4 feet in 5 hours at Sanger (30 miles north of Mandan), US Army bombers were dispatched to the area with 55 tons of high explosive bombs to breakup the massive ice jams. Fortunately, Mother Nature intervened. The river's force eventually cut a new channel west around the southern ice pack. An edge of ice dam broke off, and zipper ripped across its entire width to open the main river channel. Flooding was averted. Mandan residents were relieved.</p>
