<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/fort-abraham-lincoln-foundation/240-falf-logo-blue.jpg" alt="Fort Abraham Lincoln Foundation logo">
  </figure>
</div>

<p>The Fort Abraham Lincoln Foundation was formed in 1982 in the former {% place "lewis-and-clark-hotel" %}Lewis and Clark Hotel{% endplace %} in downtown Mandan. Its initial mission was to manage and promote the reconstruction and development of Fort Abraham Lincoln south of Mandan. The foundation raised money to rebuild the Custer House, Commissary, Granary, Central Barracks, Mess Hall, and a 7th Cavalry stable, as well as six Mandan earthlodges and part of the village palisade.</p>

<p>In 2012, the foundation adopted a broader mission: to preserve, promote, and develop historically significant tourism sites and educational activities in North Dakota, particularly in the Bismarck-Mandan region, and to maximize the educational and economic benefits of those sites and activities.</p>

<p>Additional information is available from the <a href="http://www.fortlincoln.org/">Fort Abraham Lincoln Foundation</a>.</p>
