<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/fort-abraham-lincoln-foundation/240-falf-logo-blue.jpg" alt="Historic image from the The Trail West Outdoor Custer Drama 1959-1968 page">
  </figure>
</div>

<p>In 1982, in the old <a href="/places/landmarks/lewis-and-clark-hotel/">Lewis and Clark Hotel</a> in downtown Mandan, the Fort Abraham Lincoln Foundation was formed. Its initial mission was to promote and manage the reconstruction, development and promotion of Fort Abraham Lincoln south of Mandan. The Foundation raised money to rebuild the Custer home; the Commissary, Granary, Central Barracks and Mess Hall and a 7th Cavalry Stable plus six Mandan Indian earthlodges and part of the village palisade.In 2012, the Foundation pivoted to a new, broader mission to preserve, promote and develop heritage tourism sites and educational activities of significance to North Dakota, particularly in the Bismarck-Mandan region, and to maximize the educational and economic benefits resulting from those sites and activities.</p>

<p>For additional details on the Fort Abraham Lincoln Foundation and their current efforts to make "history come to life," visit their website at <a href="http://www.fortlincoln.org/">http://www.fortlincoln.org/</a></p>
