<p>President Theodore Roosevelt embarked on a nine-and-a-half-week journey across the North American continent in April 1903. The Pennsylvania Railroad Company provided a special six-car train, decorated and equipped for a 14,000-mile cross-country journey. Mandan was one of five stops included in North Dakota. Roosevelt wanted to personally talk to people and give an account of his previous term in office. It was also an opportunity for him to visit Yellowstone National Park accompanied by the famous naturalist John Burroughs.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1903-theodore-roosevelt-visit/350-1903-tr-underwood-photo.jpg" alt="Historic image from the April 1903 President Theodore Roosevelt Returns page">
  </figure>
</div>

<p>TR Speech at Mandan Leaving Washington, D.C., on April 1, 1903, he arrived in North Dakota six days later. Fargo was his first and longest stop in the state. Arriving early in the morning, he was escorted to the business district where he was greeted by several thousand children. From a stand in front of the Waldorf Hotel, Roosevelt discussed his administration’s Philippine policy. The train subsequently stopped for approximately 30 minutes in Jamestown.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1903-theodore-roosevelt-visit/369-tr-carriage-ride.jpg" alt="Historic image from the April 1903 President Theodore Roosevelt Returns page">
  </figure>
  <figure>
    <img src="/assets/images/area-history/1903-theodore-roosevelt-visit/150-indian-chiefs-in-attendance.jpg" alt="Historic image from the April 1903 President Theodore Roosevelt Returns page">
  </figure>
</div>

<p>In Bismarck,, President Roosevelt shuttled by carriage to the Capitol where he repeated much of his speech from Fargo, was greeted by chiefs and other members of area Native American tribes and was treated to a barbecue of ox and apple cider. Carriage ride in Bismarck to Capitol Indian Chiefs in Attendance</p>

<p>After the three-hour stop, TR returned to his train and they moved on to Mandan. He spoke from a stand erected on the north side of the depot especially for the occasion. After completing his speech, he returned to his railcar and was joined by friend and Badlands frontier guide Joe Ferris and his brother and former Elkhorn Ranch foreman Sylvane Ferris. Perfecto Fernández also known as Georgie Baye, another ranch hand acquaintance, was also welcomed aboard for the ride to Medora. (Roosevelt orchestrated his naturalization to a U.S. citizen when TR was president.)</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1903-theodore-roosevelt-visit/708-shsnd-d0471-welch-untouched.jpg" alt="Historic image from the April 1903 President Theodore Roosevelt Returns page">
  </figure>
</div>

<p>After a short stop in Dickinson, Roosevelt later wrote that “the whole town turned out with wild and not entirely sober enthusiasm. It was difficult to make them much of a speech as there were dozens of men each earnestly desirous of recalling to my mind some special incident.”</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1903-theodore-roosevelt-visit/708-medora-group-derated.jpg" alt="Historic image from the April 1903 President Theodore Roosevelt Returns page">
  </figure>
</div>

<p>TR speaking to old friends near his ranch at Medora</p>

<p>The final destination on April 7 was a half-hour stop in Medora. Arriving after dark, Roosevelt later recalled that “the entire population of the Badlands down to the smallest baby had gathered to meet me… They all felt I was their man, their old friend; and even if they had been hostile to me in the old days when we were divided by the sinister bickering and jealousies and hatreds of all frontier communities, they now firmly believed they had always been my staunch friends and admirers." Roosevelt continued, “I shook hands with them all and…I only regretted that I could not spend three-hours with them." The President would return to his train car for the night and the trip on to his next destination. (EDITOR’S NOTE: TR would return to North Dakota in October 1912 again by train during his presidential campaign.)</p>
