<p>President {% person "theodore-roosevelt" %}Theodore Roosevelt{% endperson %} embarked on a nine-and-a-half-week journey across the North American continent in April 1903. The Pennsylvania Railroad Company provided a special six-car train, decorated and equipped for a 14,000-mile cross-country journey. Mandan was one of five stops in North Dakota. Roosevelt wanted to speak directly with people and give an account of his previous term in office. The trip also gave him an opportunity to visit Yellowstone National Park, accompanied by the famous naturalist {% person "john-burroughs" %}John Burroughs{% endperson %}.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1903-theodore-roosevelt-visit/350-1903-tr-underwood-photo.jpg" alt="Theodore Roosevelt speaking in Mandan in April 1903">
    <figcaption>Theodore Roosevelt speaking in Mandan</figcaption>
  </figure>
</div>

<p>Roosevelt left Washington, D.C., on April 1, 1903, and arrived in North Dakota six days later. Fargo was his first and longest stop in the state. Arriving early in the morning, he was escorted to the business district, where several thousand children greeted him. From a stand in front of the Waldorf Hotel, Roosevelt discussed his administration's Philippine policy. The train subsequently stopped for approximately 30 minutes in Jamestown.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1903-theodore-roosevelt-visit/369-tr-carriage-ride.jpg" alt="Theodore Roosevelt riding by carriage to the North Dakota Capitol">
    <figcaption>Carriage ride in Bismarck to the Capitol</figcaption>
  </figure>
  <figure>
    <img src="/assets/images/area-history/1903-theodore-roosevelt-visit/150-indian-chiefs-in-attendance.jpg" alt="Native American chiefs attending Theodore Roosevelt's Bismarck visit">
    <figcaption>Native American chiefs in attendance</figcaption>
  </figure>
</div>

<p>In Bismarck, President Roosevelt traveled by carriage to the Capitol, where he repeated much of his Fargo speech. Chiefs and other members of area Native American tribes greeted him, and he was treated to a barbecue of ox and apple cider.</p>

<p>After the three-hour stop, Roosevelt returned to his train, which continued to Mandan. He spoke from a stand erected for the occasion on the north side of the depot. After completing his speech, he returned to his railcar and was joined by his friend and former Badlands guide {% person "joe-ferris" %}Joe Ferris{% endperson %}, along with Joe's brother and former Elkhorn Ranch foreman {% person "sylvane-ferris" %}Sylvane Ferris{% endperson %}. Another ranch-hand acquaintance, {% person "perfecto-fernandez", "Perfecto Fernández, also known as Georgie Baye" %}Perfecto Fernández, also known as Georgie Baye{% endperson %}, was welcomed aboard for the ride to Medora. Roosevelt had helped Fernández become a U.S. citizen while serving as president.</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1903-theodore-roosevelt-visit/708-shsnd-d0471-welch-untouched.jpg" alt="Crowd gathered during Theodore Roosevelt's 1903 North Dakota trip">
  </figure>
</div>

<p>After a short stop in Dickinson, Roosevelt later wrote that “the whole town turned out with wild and not entirely sober enthusiasm. It was difficult to make them much of a speech as there were dozens of men each earnestly desirous of recalling to my mind some special incident.”</p>

<div class="image-gallery">
  <figure>
    <img src="/assets/images/area-history/1903-theodore-roosevelt-visit/708-medora-group-derated.jpg" alt="Theodore Roosevelt speaking to old friends near his ranch at Medora">
    <figcaption>Theodore Roosevelt speaking to old friends near his ranch at Medora</figcaption>
  </figure>
</div>

<p>The final destination on April 7 was a half-hour stop in Medora. Arriving after dark, Roosevelt later recalled that “the entire population of the Badlands down to the smallest baby had gathered to meet me… They all felt I was their man, their old friend; and even if they had been hostile to me in the old days when we were divided by the sinister bickering and jealousies and hatreds of all frontier communities, they now firmly believed they had always been my staunch friends and admirers.” Roosevelt continued, “I shook hands with them all and…I only regretted that I could not spend three hours with them.” The president then returned to his railcar for the night and continued to his next destination.</p>

<p><em>Editor's note: Roosevelt returned to North Dakota by train during his October 1912 presidential campaign. See <a href="/area-history/1912-theodore-roosevelt-whistle-stop/">October 1912 Theodore Roosevelt Whistle Stop</a>.</em></p>
